
/*===== Variables =====*/

$text: #000;
$text-muted: #c5c5c5;
$theme-color: #27bdc0;
$theme-darken: #1199a7;
$theme-lighten: #70c2ca;

$body-bg-start: #044a51;
$body-bg-end: #010b0c;

$z-index-header: 1000;

/*===== Mixins =====*/
@mixin clear() {
  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin body-background() {
  background-image: linear-gradient(to right, $body-bg-start, $body-bg-end);
}

/*===== Keyframes =====*/
@keyframes loading {
  from { transform: scaleX(0) }
  to { transform: scaleX(1) }
}

@keyframes rotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
