@media (min-width: 1170px) {
  .hide-on-desktop {
    display: none;
  }
  .static {
    overflow-y: auto;
  }
  .light {
    .tel {
      &:hover {
        color: $theme-darken;
      }
    }
    .socials, .vectors {
      a {
        &:hover {
          fill: $theme-darken;
        }
      }
    }
    .form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .row {
        + .row {
          margin-top: 22px;
        }
      }
      &-top {
        width: 35%;
        + .row {
          margin-top: 0;
          padding-left: 22px;
          width: 65%;
          textarea {
            height: 142px;
          }
        }
        ~ .row:last-child {
          margin-left: auto;
        }
      }
    }
  }
  .hero {
    padding: 9vw 0 20vw;
    .container {
      padding: 0;
    }
    .socials {
      margin-bottom: 70px;
    }
    &-desc {
      max-width: 360px;
    }
  }
  .socials {
    a {
      transition: all .25s ease;
      &:hover {
        fill: #fff;
      }
    }
  }
  .footer {
    padding-top: 8.5vw;
    background-image: url(../img/xl/footer.png);
    textarea {
      min-height: 133px;
    }
    .container {
      max-width: 820px;
    }
    .socials {
      margin-bottom: 0;
    }
  }
  .address {
    font-size: 1.825em;
  }
  .tel {
    &:hover {
      opacity: .9;
    }
  }
  .messengers {
    .tel {
      font-size: 1.825em;
    }
    .vectors {
      margin-bottom: 11px;
    }
  }
  .vectors {
    svg {
      min-width: 28px;
      min-height: 28px;
    }
    a {
      transition: all .25s ease;
      &:hover {
        fill: $theme-color;
      }
    }
  }
  .copyright {
    margin-top: 80px;
    padding: 0 25px 18px;
  }
  .h3 {
    font-size: 3.75em;
  }
  .h4 {
    font-size: 2.25em;
  }
  .container {
    width: 1170px;
    max-width: none;
    padding: 0;
    @include clear;
  }
  .menu {
    transition: none;
    position: static;
    display: block;
    font-size: 1em;
    line-height: inherit;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    padding: 0;
    &-border {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
    }
    li {
      transition: none;
      transform: none;
      opacity: 1;
      + li {
        margin-left: 25px;
      }
    }
    a {
      padding-bottom: 0;
      border: 0;
      opacity: .5;
      transition: all .2s ease;
      position: relative;
      &.home {
        margin-bottom: -2px;
      }
      &:before {
        pointer-events: none;
        position: absolute;
        content: '';
        border-top: 2px solid $theme-color;
        left: 0;
        right: 0;
        top: -20px;
        transform: translateY(-10px);
        transition: all .25s ease;
      }
      &.is-active {
        pointer-events: none;
        &:before {
          transform: none;
        }
      }
      &:hover, &.active {
        opacity: .9;
      }
      &:hover:not(.active):not(.home) {
        &:before {
          transform: translateY(10px) scaleX(.5);
        }
      }
    }
  }
  .section {
    &-plans {
      padding: 0;
    }
    &-reviews {
      padding: 6vw 0 16vw;
      display: flex;
      flex-flow: column nowrap;
      background: {
        image: url(../img/xl/reviews.png);
        position: 50% 0;
      }
    }
    &-coach {
      padding-bottom: 4.2vw;
      .shape {
        &-top {
          transform: none;
        }
      }
      .btn {
        flex-flow: row nowrap;
        &-icon {
          margin: -2px 0 0 0;
        }
        &-text {
          margin-right: 1em;
        }
        &-wrapper {
          text-align: left;
        }
      }
    }
    &-about {
      padding-bottom: 80px;
      background: #fff url(../img/xl/sticks.jpg) no-repeat 74vw 15% / 516px auto;
    }
    &-paths {
      background: #fff url(../img/xl/sticks.jpg) no-repeat 75% 100% / auto;
    }
  }
  .btn, .button {
    font-size: 24px;
    line-height: 1;
    svg {
      max-width: none;
      max-height: none;
    }
    &-icon {
      transition: all .25s ease;
    }
    &:hover {
      .btn-icon, .button-icon {
        transform: translateX(.5rem);
      }
    }
  }
  .input {
    height: 60px;
    padding: 16px 22px;
  }
  .coach {
    display: flex;
    align-items: center;
    &-item {
      display: flex;
      align-items: center;
    }
    &-icon {
      width: 60px;
      max-width: none;
      flex-shrink: 0;
      margin-right: 18px;
    }
    &-content, &-ava {
      width: 50%;
    }
    &-ava {
      padding-left: 40px;
    }
    &-section {
      margin: 60px 0 80px;
    }
    &-contacts {
      margin: 63px 0 0 -63px;
      font-size: 18px;
      td {
        padding-bottom: 21px;
        &:first-child {
          a {
            &:hover {
              fill: $theme-darken;
            }
            + a {
              margin-left: 6px;
            }
          }
        }
        &:last-child {
          a {
            &:hover {
              color: $theme-color;
            }
          }
        }
      }
      svg {
        width: 29px;
        height: 29px;
      }
    }
  }
  .reviews {
    &-wrapper {
      order: 1;
    }
  }
  .dots {
    button {
      width: 18px;
      height: 24px;
      transition: all .25s ease;
      &:hover {
        opacity: .75;
        transform: translateY(-2px);
      }
    }
    .slick-active {
      button {
        transform: none;
      }
    }
    &-reviews {
      text-align: left;
      padding-left: 300px;
      margin-bottom: -24px;
    }
  }
  .review {
    .container {
      display: flex;
      align-items: center;
    }
    &-caption {
      margin-top: 0;
    }
    &-text {
      padding: 60px 0;
    }
  }
  .ava {
    flex-shrink: 0;
    width: 250px;
    height: 325px;
    margin: 0 50px 0 0;
    &-name {
      &:before, &:after {
        display: none;
      }
      font-size: 1.2em;
      padding: 32px 15px 12px 50px;
      background: transparent url(../img/vector/xl/shape-bg-ava.svg) no-repeat 100% 100% / cover;
    }
  }
  .plans {
    margin: 75px -125px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plan {
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    width: 471px;
    height: 556px;
    transform: translateZ(-90px);
    transition-duration: .8s;
    &-standart {
      margin: 0 -70px;
    }
    &-muted {
      transform: translateZ(-180px);
    }
    &-name {
      font-size: 2.25em;
    }
    &-times {
      font-size: 1.5em;
    }
    &-desc {
      padding: 70px 0 68px;
      transition: all .6s ease;
      background: {
        image: none;
      }
      position: relative;
      > * {
        position: relative;
      }
      &:before {
        pointer-events: none;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: {
          image: url(../img/vector/xl/shape-bg-plan.svg);
          position: 50% 50%;
          size: cover;
        }
        transition: all .8s ease;
        opacity: 0;
        transform: scaleY(1.6);
      }
    }
    &-time {
      font-size: 1.5em;
    }
    &.plan-active {
      transition-duration: .4s;
      .plan {
        &-desc {
          &:before {
            transition-delay: .25s;
            transform: none;
            opacity: 1;
          }
        }
      }
    }
  }

  .logo-top {
    &, & + .h1 {
      display: inline-block;
      vertical-align: middle;
    }
    + .h1 {
      margin: 0 0 0 1em;
      font-size: 56px;
    }
  }

  .logo {
    &-bottom {
      font-size: 1.625em;
      margin: 2em 0;
    }
    &-mid {
      font-size: 1.8em;
    }
    &-foot {
      font-size: 1.3em;
    }
  }
  .subheading {
    font-size: 1.5em;
  }
  .sorting, .pager, .shop, .selectbox-layer {
    font-size: 24px;
  }
  .filter {
    margin: 60px 0;
  }
  .pager {
    margin: 40px 0;
    svg {
      max-width: 68px;
    }
    a {
      transition: all .25s ease;
      &:hover {
        color: $text;
        fill: $text;
      }
    }
    .section-testim & {
      margin: 40px 0 60px;
    }
  }
  .breadcrumbs {
    margin-bottom: 35px;
    font-size: 18px;
    li:not(:last-child):after {
      margin: 0 9px;
    }
    a {
      &:hover {
        color: $theme-color;
      }
    }
  }
  .button {
    transition: all .25s ease;
    &:hover {
      background-color: $theme-darken;
    }
  }
  .shop {
    padding: 60px 0;
    .button {
      font-size: 1em;
      opacity: 0;
      visibility: hidden;
      padding: 24px 0 23px;
      transform: translateY(-71px);
      transition: all .3s ease;
      svg {
        display: block;
      }
    }
    &-item {
      padding: 0;
      &-name {
        margin-bottom: .79em;
        padding: 0 20px;
      }
      &-pic {
        height: 376px;
        padding: 20px;
      }
      &-inner {
        transition: all .35s ease .15s;
        &:hover {
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.13);
          .button {
            opacity: 1;
            transform: none;
            visibility: visible;
          }
        }
      }
    }
  }
  .gallery {
    &, &-item {
      width: 514px;
      height: 494px;
    }
    margin-bottom: 40px;
    &-dot {
      width: 134px;
      height: 134px;
      background-size: 110px;
    }
    &-dots {
      li:not(.slick-active) {
        .gallery-dot {
          &:hover {
            border-color: $theme-color;
          }
        }
      }
      .slick-dots {
        justify-content: flex-start;
        li {
          margin: 0 10px 10px 0;
        }
      }
    }
  }
  .product {
    font-size: 24px;
    &-header, &-credits {
      width: 586px;
    }
    &-header {
      margin-top: 1.66em;
    }
    .button {
      padding: 1em;
      background-color: $theme-darken;
      &:hover {
        background-color: $theme-color;
      }
    }
  }
  .photos {
    &-coaches {
      margin: 0 0 70px;
    }
    &-arrows {
      .slick {
        &-arrow {
          width: 68px;
          height: 24px;
          margin-top: -12px;
          &:hover {
            fill: $theme-color;
          }
        }
      }
    }
  }
  .photo {
    position: relative;
    &-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: rgba($theme-darken, .75);
    }
    &-name {
      font: {
        weight: 500;
        size: 1.5em;
      }
      text-transform: uppercase;
      transform: translateY(-5px);
    }
    &-desc {
      transform: translateY(5px);
    }
    &-content, &-name, &-desc {
      opacity: 0;
      visibility: hidden;
      transition: all .75s ease;
    }
    &:hover {
      .photo {
        &-content, &-name, &-desc {
          opacity: 1;
          visibility: visible;
        }
        &-name, &-desc {
          transform: none;
        }
        &-name {
          transition-delay: .35s;
        }
        &-desc {
          transition-delay: .5s;
        }
      }
    }

    &.slick-slide {
      .photo-name, .photo-desc {
        display: none;
      }
      &.slick-current + .photo {
        .photo-name, .photo-desc {
          display: block;
        }
      }
    }
  }
  .steps {
    margin: {
      left: -20px;
      right: -20px;
    }
    display: flex;

  }
  .step {
    padding: 0 20px;
    &:first-child {
      img {
        max-height: 72px;
      }
    }
    &:nth-child(2) {
      img {
        max-height: 92px;
      }
    }
    &-icon {
      height: 110px;
    }
  }
  .contact {
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .map {
    width: 795px;
  }

  .testim {
    .ava {
      width: 250px;
      height: 325px;
    }
    &-form {
      .form {
        &-top {
          width: 30%;
          + .row {
            width: 50%;
            padding: 0 22px;
            label.error {
              margin-right: 22px;
            }
            + .row {
              margin-top: 0;
              width: 20%;
            }
          }
        }
      }
    }
  }

  .label {
    &-file {
      &:hover {
        background-color: rgba($theme-color, .05);
      }
    }
  }

  .news {
    font-size: 18px;
    margin-bottom: 80px;
    &-date {
      width: 230px;
      height: 150px;
      font-size: 24px;
      padding: 28px 150px 0 25px;
      z-index: 1;
    }
    &-name {
      font-size: 1.6em;
      &:hover {
        color: $theme-color;
      }
    }
    .btn {
      vertical-align: middle;
      font-size: 1em;
      svg {
        max-height: 12px;
      }
      &:hover {
        fill: $theme-color;
        color: $theme-color;
      }
    }
    &-header {
      min-height: 150px;
      img {
        transition: all 1.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
      }
      &:hover {
        img {
          transform: scale(1.04) translateY(-4px);
          opacity: .95;
        }
      }
    }
  }

  .content:not(:only-child) {
    float: left;
    width: 760px;
    + .widgets {
      padding-left: 825px;
    }
  }

  .news {
    &-full {
      img {
        margin: 3em 0;
      }
      a {
        &[data-fancybox-group] {
          display: block;
          &:hover {
            opacity: .95;
          }
        }
        &:hover {
          text-decoration: none;
          color: $theme-darken;
        }
      }
    }
  }

  .paths {
    margin: 40px auto;
    max-width: 1170px;
  }

  .path {
    width: 360px;
    &:last-child {
      .path-link:after {
        display: none;
      }
    }
    &-link {
      height: 360px;
      position: relative;
      overflow: hidden;
      img {
        transition: all .75s ease;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
        &:after {
          opacity: 1;
        }
        .path-schedule {
          img {
            transform: scale(2) translateY(-15px);
          }
        }
      }
      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(#000, .5);
        transition: all .75s ease;
        opacity: 0;
      }
    }
    margin-bottom: 44px;
    &:not(:nth-child(3n+1)) {
      margin-left: 44px;
    }
    &-name {
      font-size: 2em;
      display: flex;
      padding: .8em 1em;
      background: {
        color: transparent;
        repeat: no-repeat;
        size: cover;
      }
      z-index: 1;
    }

    @each $index in 1, 2, 4, 5 {
      &:nth-child(5n + #{$index}) {
        .path-name {
          background-image: url('../img/vector/paths/0#{$index}.svg');
        }
      }
    }

    &:nth-child(5n+1) {
      .path-name {
        width: 300px;
        min-height: 165px;
      }
    }
    &:nth-child(5n+2) {
      .path-name {
        left: 0;
        min-height: 155px;
        align-items: flex-end;
      }
    }
    &:nth-child(5n+3) {
      .path-name {
        min-height: 210px;
        width: 100%;
        background-image: url(../img/vector/paths/04.svg);
        justify-content: flex-end;
      }
    }
    &:nth-child(5n+4) {
      .path-name {
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        justify-content: flex-end;
        min-height: 210px;
        width: 100%;
      }
    }
    &:nth-child(5n+5) {
      .path-name {
        right: 0;
        justify-content: flex-end;
        align-items: flex-end;
        min-height: 155px;
      }
    }
  }

}
