.sorting {
  .form-actions[data-drupal-selector] {
    display: none;
  }
}

.ajax {
  &-progress {
    &.ajax-progress-fullscreen {
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      margin: -25px 0 0 -25px;
      background: #fff url(../img/vector/ajax-progress.svg) no-repeat 50% / 100%;
      border-radius: 50%;
      padding: 0;
      animation: rotation .6s linear 0s infinite;
    }
  }
}
