
/*===== Typography =====*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,500i,700&subset=cyrillic');

@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}
