body {
  font: 400 12px/1.5 'Ubuntu', sans-serif;
  color: #fff;
  @include body-background;
}

::selection {
  background-color: rgba($theme-color, .65);
  color: #fff;
}

.static {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 360px;
  .container {
    padding: 0;
  }
}

.button {
  fill: #fff;
  color: #fff;
  background-color: rgba($theme-color, .61);
  font: {
    weight: 700;
  }
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
  border: 0;
  text-transform: uppercase;
  svg {
    max-width: 34px;
    max-height: 8px;
  }
  &-icon {
    margin-left: 1rem;
    font-size: 0;
  }
  line-height: 1.25;
  padding: .625em 2.5em;
}

.link {
  &-centered {
    text-align: center;
  }
}

.btn {
  text-transform: uppercase;
  color: $theme-color;
  fill: $theme-color;
  display: inline-flex;
  vertical-align: top;
  flex-flow: column-reverse;
  align-items: center;
  font-weight: 700;
  svg {
    max-width: 34px;
    max-height: 8px;
  }
  &-icon {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  &-wrapper {
    text-align: center;
  }
}

.header {
  position: fixed;
  background-color: #030202;
  left: 0;
  top: 0;
  right: 0;
  padding: 11px 0 12px;
  z-index: $z-index-header;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:after {
      display: none;
    }
  }
  [role="navigation"] {
    width: 100%;
  }
  ~ iframe {
    height: 100vh;
  }
}

.tel {
  font: {
    family: "San Francisco", "Ubuntu", sans-serif;
    size: 1.6em;
    weight: 200;
  }
  line-height: 1;
  color: $theme-color;
}

.menu {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-bg-end;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  line-height: 2.2;
  transition: all .4s ease;
  opacity: 0;
  visibility: hidden;
  color: rgba(#fff, .95);
  &-border {
    pointer-events: none;
    span {
      position: absolute;
      background-color: $theme-color;
      &:nth-child(odd) {
        height: 2px;
        width: 0;
      }
      &:nth-child(even) {
        height: 0;
        width: 2px;
      }
      &:nth-child(1) {
        top: 15px;
        left: 15px;
      }
      &:nth-child(2) {
        top: 15px;
        right: 15px;
      }
      &:nth-child(3) {
        bottom: 15px;
        right: 15px;
      }
      &:nth-child(4) {
        bottom: 15px;
        left: 15px;
      }
      transition: all .4s ease;
    }
  }
  a {
    padding-bottom: 1px;
    border-bottom: 2px solid rgba($theme-color, .5);
    &.home {
      border: 0;
      display: inline-block;
      width: 36px;
      height: 32px;
      background: {
        size: contain;
        position: 50% 50%;
        repeat: no-repeat;
        image: url(../img/ui/icon-home.png);
      }
    }
    &.is-active {
      color: $theme-color;
    }
  }
  li {
    opacity: 0;
    transform: translateY(-6px) scale(1.25);
    transition: all .5s ease;

  }
  :checked ~ & {
    opacity: 1;
    visibility: visible;
    li {
      @for $item from 1 to 10 {
        &:nth-child(#{$item}) {
          transition-delay: .75s + .1s * $item;
        }
      }
      opacity: 1;
      transform: none;
    }
    .menu-border {
      span {
        transition-delay: .35s;
        @for $item from 1 to 4 {
          &:nth-child(#{$item}) {
            transition-delay: .2s + .15s * $item;
          }
        }
        &:nth-child(odd) {
          width: calc(100% - 30px);
        }
        &:nth-child(even) {
          height: calc(100% - 30px);
        }
      }
    }
  }
  @media (max-height: 480px) {
    font-size: 1.2em;
    ul {
      column-count: 2;
      column-gap: 50px;
    }
  }
}

.nav {
  &-label {
    display: inline-block;
    vertical-align: middle;
    span {
      transition: all .5s ease;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $theme-color;
      &:nth-child(odd) {
        margin-left: 8px;
      }
      &:nth-child(1) {
        transform-origin: left bottom;
      }
      &:nth-child(3) {
        transform-origin: left top;
      }
      + span {
        margin-top: 5px;
      }
    }
    :checked ~ & {
      span {
        transition-delay: .75s;
        &:nth-child(odd) {
          margin-left: 0;
          width: 15px;
        }
        &:nth-child(2) {
          width: 30px;
        }
        &:nth-child(1) {
          transform: rotate(-35deg) translate(-4px, 6px);
        }
        &:nth-child(3) {
          transform: rotate(35deg) translate(-4px, -6px);
        }
      }
    }
  }
}

.socials {
  display: flex;
  fill: $theme-color;
  align-items: center;
  li {
    + li {
      margin-left: 28px;
    }
  }
}

.light {
  background-color: #fff;
  position: relative;
  color: #040404;
  h1, h2, h3, h4, h5, h6 {
    color: $theme-darken;
  }
  .input {
    border: 1px solid lighten($text, 40%);
    &:focus {
      border-color: $theme-darken;
    }
  }
  .button {
    background-color: $theme-color;
  }
  label.error {
    color: #fff;
  }
}

.shape {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  fill: #fff;
  .msie & {
    display: none;
  }
  &-top {
    bottom: 100%;
    margin-bottom: -1px;
  }
  &-bottom {
    top: 100%;
    margin-top: -1px;
  }
}

.h1 {
  font-size: 2em;
  color: $theme-color;
  margin-bottom: 1em;
  border-left: 2px solid $theme-color;
  padding-left: .73em;
}

.h2 {
  font-size: 2em;
  margin-bottom: .9em;
}

.h3 {
  font-size: 2.5em;
}

.h4 {
  font: {
    size: 1.25em;
    weight: 700;
  }
  color: $theme-color;
}

/*=========== Homepage ============*/

.logo {
  text-transform: uppercase;
  font-weight: 300;
  background: {
    size: contain;
    image: url(../img/logo.png);
    repeat: no-repeat;
    position: 0 50%;
  }
  &-top {
    font-size: 3em;
    padding-left: 2.16em;
    max-width: 200px;
    line-height: .9em;
    margin: .83em 0;
    &:first-line {
      font-size: .83em;
    }
  }
  &-bottom {
    padding-left: 5em;
    line-height: 1;
    margin: 3em 0;
  }
  &-mid {
    font: {
      weight: 700;
      size: 2em;
    }
  }
  &-foot {
    font-size: 1.3em;
  }
}

.hero {
  padding: 80px 0 95px;
  background: {
    position: 50% 0;
    size: cover;
    repeat: no-repeat;
  }
  .container {
    padding: 0 30px;
  }
  .socials {
    margin-bottom: 60px;
  }
  @media (max-height: 480px) {
    padding-bottom: 150px;
  }
  .front & {
    background-image: url(../img/xs/hero.png);
  }
  &-media {
    background-image: url(../img/xs/hero-media.png);
  }
  &-shop {
    background-image: url(../img/xs/hero-shop.png);
  }
  &-teachers {
    background-image: url(../img/xs/hero-teachers.jpg);
  }
  &-about {
    background-image: url(../img/xs/hero-about.jpg);
  }

  &-testim {
    background-image: url(../img/xs/hero-reviews.png);
  }
  &-contact {
    background-image: url(../img/xs/footer.jpg);
  }
  &[style] {
    background-position: 100% 50%;
    &, .container {
      position: relative;
    }
    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to right, $body-bg-start, rgba($body-bg-end, .9), transparent);
    }
  }
}

.section {
  &-coach {
    padding-bottom: 15px;
  }
  &-reviews {
    padding: 25px 0;
    background: url(../img/xs/reviews.png) no-repeat 50% 50% / cover;
  }
  &-plans, &-about {
    padding-bottom: 25px;
  }
  &-shop {
    padding-bottom: 20px;
  }
  &-testim {
    padding-bottom: 40px;
  }
  &-media {
    padding: 40px 0;
  }
  &-contact {
    ~ .footer {
      background: #fff;
      > .container {
        display: none;
      }
    }
  }
  &-paths {
    padding: 25px 0;
  }
}

.coach {
  &-desc {
    font-weight: 700;
    margin: 1.125em 0;
  }
  &-item {
    + .coach-item {
      margin-top: 1.6em;
    }
    @include clear();
  }
  &-icon {
    float: left;
    margin-right: 12px;
    max-width: 40px;
    text-align: center;
  }
  &-contacts {
    margin: 25px 0;
    fill: $theme-color;
    td {
      padding-bottom: 14px;
      &:first-child {
        text-align: right;
        width: 30%;
        a {
          font-size: 0;
          + a {
            margin-left: 5px;
          }
        }
      }
      &:last-child {
        padding-left: 21px;
        a {
          word-break: break-all;
          word-wrap: break-word;
        }
      }
    }
    svg {
      width: 21px;
      height: 21px;
    }
  }
}

.ava {
  width: 140px;
  height: 180px;
  margin: 12px auto;
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  background: {
    size: cover;
    position: 50% 50%;
  }
  &-name {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($theme-color, .65);
    padding: 0 6px 4px;
    width: 100%;
    text-align: right;
    &:before, &:after {
      position: absolute;
      content: '';
      bottom: 100%;
    }
    &:before {
      width: 36px;
      left: 0;
      border: hidden{
        style: solid;
        width: 5px 18px;
        color: transparent rgba($theme-color, .65) rgba($theme-color, .65) transparent;
      };
    }
    &:after {
      right: 0;
      height: 10px;
      width: calc(100% - 36px);
      background-color: rgba($theme-color, .65);
    }
  }
}

.copyright {
  padding: 40px 15px 10px;
  text-align: right;
  position: relative;
  color: #141719;
  margin-top: 25px;
  .shape {
    bottom: 0;
    width: 100%;
  }
  &-content {
    position: relative;
  }
}

.footer {
  fill: #fff;
  background: url(../img/xs/footer.jpg) no-repeat 50% 50% / cover;
  padding-top: 45px;
  &-info {
    .socials {
      margin: 2.5em 0;
    }
    .vectors {
      margin: 2em 0 .33em;
    }
  }
}

.subheading {
  font-weight: 700;
  text-transform: uppercase;
}

.vectors {
  display: flex;
  a {
    + a {
      margin-left: .42em;
    }
  }
}

.address {
  font: {
    size: 1.25em;
    style: normal;
    weight: 300;
  }
  line-height: 1.6;
  text-transform: uppercase;
}

.row {
  .form-top + &, .row + & {
    margin-top: 10px;
  }
  position: relative;
  label.error {
    font-size: .8em;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 3px 0 4px;
    letter-spacing: .025em;
    background-color: red;
    opacity: .65;
  }
}

textarea {
  min-height: 65px;
}


.label {
  display: block;
  &-file {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px dashed $theme-color;
    height: 142px;
    text-align: center;
    font: {
      weight: 500;
    }
    color: $theme-darken;
  }
  &-intro, &-photo, &-loader {
    transition: all .25s ease;
  }
  &-photo, &-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.loading {
  .label-loader {
    opacity: 1;
    visibility: visible;
  }
}

.loading, .loaded {
  .label-intro {
    opacity: 0;
    visibility: hidden;
  }
}

.loaded {
  .label-photo {
    opacity: 1;
    visibility: visible;
  }
}

.input {
  display: block;
  width: 100%;
  background-color: rgba(#fff, .65);
  border: 0;
  height: 30px;
  font: {
    size: 1.125em;
    weight: 300;
  }
  line-height: 1.66;
  transition: all .16s ease;
  padding: .3em 1.27em;
  &:focus {
    background-color: rgba($theme-color, .65);
    color: #fff;
  }
}

.plans {
  text-align: center;
  margin: 25px 0;
  height: 260px;
  position: relative;
  perspective: 1000px;
}

.plan {
  width: 180px;
  height: 100%;
  color: #fff;
  vertical-align: top;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.25;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  background: {
    color: #000;
    size: cover;
    position: 50% 50%;
  }
  transition: all .5s ease-in-out;
  transform: translateZ(-120px);
  &-desc {
    line-height: 1.5;
    padding: 23px 0 9px;
    background: url(../img/vector/xs/shape-bg-plan.svg) no-repeat 50% 50% / cover;
  }
  &-name {
    font: {
      weight: 500;
      size: 1.5em;
    }
  }
  &-time {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .66em;
  }
  &-base {
    left: -15px;
  }
  &-standart {
    left: 50%;
    margin-left: -90px;
  }
  &-intense {
    right: -15px;
  }
  &-active {
    z-index: 2;
    transition-duration: .25s;
    box-shadow: 0 0 40px #000;
    &.plan {
      &-base {
        transform: translateX(15px);
        + .plan {
          z-index: 1;
          + .plan {
            transform: translateZ(-240px);
          }
        }
      }
      &-standart {
        transform: none;
      }
      &-intense {
        transform: translateX(-15px);
      }
    }
  }
  &-muted {
    transform: translateZ(-240px);
  }
}

/*====== Shop ======*/

.select {
  display: flex;
  align-items: center;
  + .select {
    margin-left: .5em;
    .filter-caption {
      display: none;
    }
  }
}

.selectbox {
  display: block;
  cursor: pointer;
  &-button {
    color: $theme-color;
    display: block;
    padding: 4px 10px 3px;
    &:before {
      content: "";
      float: right;
      margin: .4em 0 0 .4em;
      border: {
        color: $theme-color transparent transparent transparent;
        style: solid;
        width: .5em .3em 0 .3em;
      }
      transition: transform .25s ease;
    }
    .state-open ~ &:before {
      transform: rotateX(180deg);
    }
  }
  &-list-box {
    display: none;
  }
  &-list {
    color: $text;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: pointer;
    max-height: 10em;
    &-item {
      background-color: #fff;
      padding: 4px 10px 3px;
      &.state-selected, &:hover {
        background-color: $theme-color;
        color: #fff;
      }
    }
  }
  &-items-title, &-cancel {
    display: none;
  }
}

.filter {
  margin: 30px 0;
  &-caption {
    margin: 2px .5em 0 0;
  }
}

.sorting {
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  .pager ~ & {
    margin-top: 10px;
  }
}

.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $theme-color;
  font-weight: 700;
  color: $text-muted;
  margin: 25px 0;
  a {
    display: inline-flex;
    align-items: center;
    padding: 0 .5em;
    &.active {
      color: $theme-color;
    }
  }
  svg {
    max-width: 34px;
  }
}

.shop {
  display: flex;
  flex-flow: row wrap;
  margin: 30px -10px;
  &-item {
    width: 50%;
    padding: 0 5px;
    text-align: center;
    &-pic {
      padding: 5px 0;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-name {
      display: none;
    }
    .button {
      background-color: $theme-color;
      svg {
        display: none;
      }
    }
  }
}

.price {
  font: {
    weight: 500;
    size: 1.5em;
  }
  color: $theme-darken;
}

.breadcrumbs {
  margin-bottom: 20px;
  li {
    display: inline;
    &:not(:last-child) {
      color: $theme-darken;
      &:after {
        content: '-';
        margin: 0 5px;
        color: $text;
      }
    }
    &:last-child {
      pointer-events: none;
      color: $text-muted;
    }
  }
}

.product {
  &-name, &-model {
    font-size: 2em;
    text-transform: uppercase;
    line-height: 1.25;
  }
  &-model {
    font-weight: 700;
  }
  &-desc {
    margin: 40px 0;
  }
  &-props {
    margin: 20px 0;
  }
  .price {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
}

.gallery {
  margin: 20px auto;
  width: 280px;
  height: 280px;
  overflow: hidden;
  &-item {
    display: flex;
    height: 280px;
    align-items: center;
    justify-content: center;
  }
  &-dots {
    .slick-dots {
      font-size: 0;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      li {
        margin: 0 3px 6px;
      }
    }
  }
  &-dot {
    display: block;
    width: 67px;
    height: 67px;
    padding: 7px;
    border: 1px solid #e9e9e9;
    background: {
      color: transparent;
      size: 50px;
      position: 50%;
      repeat: no-repeat;
    }
    .slick-active & {
      border-color: #acacac;
    }
  }
}

/*===== About page =====*/

.about {
  p {
    margin: 2em 0;
  }
}

.steps {
  text-align: center;
}

.step {
  margin: 50px auto;
  max-width: 420px;
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
  }
  &-name {
    font: {
      size: 1.66em;
      weight: 700;
    }
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 1.3em;
  }
  &-index {
    font: {
      size: 2.66em;
      weight: 300;
    }
    line-height: 1;
    text-transform: uppercase;
    color: $theme-color;
    margin-top: .625em;
  }
}

.photos {
  display: flex;
  flex-flow: row wrap;
  margin: 50px 0;
  &-coaches {
    margin: 50px 0;
    height: 42vw;
    position: relative;
    overflow: hidden;
    ~ .container:last-of-type {
      margin-bottom: 25px;
    }
    .photos {
      display: block;
      margin: 0;
    }
  }
  &-arrows {
    font-size: 0;
    .slick {
      &-arrow {
        border: 0;
        background-color: transparent;
        fill: #fff;
        position: absolute;
        top: 50%;
        width: 34px;
        height: 34px;
        margin-top: -17px;
        svg {
          max-width: 100%;
        }
      }
      &-prev {
        left: 4vw;
      }
      &-next {
        right: 4vw;
      }
    }
  }
}

.photo {
  display: block;
  width: 50%;
  color: #fff;
  text-align: center;
  &-content {
    display: none;
  }
  img {
    display: block;
    width: 100%;
  }
}

.contact {
  .tel {
    color: $text;
  }
  &-form {
    margin-top: 40px;
    .h2 {
      text-align: center;
    }
  }
}

.review {
  &-caption {
    text-transform: uppercase;
    font: {
      size: 1.33em;
      weight: 700;
    }
    margin: 1em 0;
  }
  .btn {
    &-wrapper {
      margin-top: 25px;
    }
  }
}

.testim {
  .review {
    padding: 25px 0;
    &:nth-of-type(even) {
      @include body-background;
      color: rgba(#fff, .95);
    }
  }
  &-form {
    margin-top: 40px;
  }
}


.teachers {
  .review {
    &:nth-child(even) {
      padding: 75px 0;
      position: relative;
      &:before, &:after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        height: 50px;
        background: {
          repeat: no-repeat;
          size: contain;
        }
      }
      &:before {
        top: 0;
        background: {
          position: 100% 0;
          image: url(../img/vector/xs/shape-plans-bottom.svg);
        }
      }
      &:after {
        bottom: 0;
        background: {
          position: 0 100%;
          image: url(../img/vector/xs/shape-plans-top.svg);
        }
      }
    }
  }
}

.news {
  margin-bottom: 50px;
  img {
    display: block;
    width: 100%;
  }
  &-date {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    color: #fff;
    background: {
      size: contain;
      repeat: no-repeat;
      image: url(../img/vector/shape-bg-date.svg);
    }
    text-align: center;
    line-height: 1.416;
    &-day {
      font: {
        size: 2em;
        weight: 700;
      }
      line-height: 1;
    }
    padding: 12px 105px 20px 15px;
  }
  &-header {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
  }
  &-name {
    text-transform: uppercase;
    font: {
      weight: 500;
    }
    color: $theme-darken;
    line-height: 1.388;
  }
  &-spoiler {
    margin-top: 13px;
  }
  .btn {
    flex-flow: row nowrap;
    margin-left: 11px;
    fill: $theme-darken;
    color: $theme-darken;
    &-icon {
      margin: 0 0 0 11px;
    }
  }

  &-full {
    h1 {
      font: {
        size: 1.5em;
      }
      color: $theme-color;
      margin-bottom: 1.5em;
    }
    img {
      width: auto;
    }
    p, img, h2, h3, h4, h5, h6 {
      margin: 1.66em 0;
    }
    ul, ol {
      margin: 1.66em;
    }
    ul {
      list-style: disc inside;
    }
    ol {
      list-style: decimal inside;
    }
    i, em {
      opacity: .75;
    }
    a {
      color: $theme-color;
      text-decoration: underline;
    }
    blockquote {
      font: {
        size: 1.33em;
        weight: 500;
        style: italic;
      }
      color: $theme-lighten;
      text-align: center;
      padding: .916em;
      position: relative;
      margin: 3em 0;
      &:before, &:after {
        position: absolute;
        content: '';
        pointer-events: none;
        background-color: $theme-darken;
        width: 54px;
        height: .166em;
        left: 50%;
        margin-left: -27px;
      }
      &:before {
        bottom: 100%;
      }
      &:after {
        top: 100%;
      }
    }
  }
}

.widget-heading, .widgets h2 {
  font: {
    size: 1.5em;
    weight: 500;
  }
  margin-bottom: .75em;
}

.widgets {
  .group {
    float: left;
    max-width: 50%;
    img {
      margin: 0;
    }
    padding: 0 10px 10px 0;
    &:hover {
      opacity: .9;
    }
  }
  .block {
    @include clear;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    + .block {
      margin-top: 50px;
    }
  }
}

.paths {
  margin: 25px 0;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

.path {
  width: 50%;
  &-link {
    display: flex;
    position: relative;
    align-items: flex-start;
    height: 50vw;
  }
  &-name {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font: {
      size: 1.2em;
      weight: 300;
    }
    padding: .8em 1.2em;
    line-height: 1;
    background-color: rgba($theme-darken, .9);
  }
  &:nth-child(5n+1) {
    .path-name {
      top: 0;
      left: 0;
    }
  }
  &:nth-child(5n+2) {
    .path-name {
      bottom: 0;
      right: 0;
    }
  }
  &:nth-child(5n+3) {
    .path-name {
      top: 0;
      right: 0;
      text-align: right;
    }
  }
  &:nth-child(5n+4) {
    .path-name {
      bottom: 0;
      left: 0;
      text-align: right;
    }
  }
  &:nth-child(5n+5) {
    .path-name {
      bottom: 0;
      left: 0;
    }
  }
  &-schedule {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1.8em;
    img {
      max-width: 25px;
      margin: 1em;
    }
    color: $theme-color;
    text-transform: uppercase;
    text-align: center;
    font: {
      size: 1.1em;
      weight: 500;
    }

  }
}

// 404 page

.notfound {
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (orientation: portrait) {
      @media (max-width: 749px) {
        max-width: 100%;
      }
      flex-direction: column-reverse;
      .nf-content {
        padding: 15px 0;
      }
      img {
        max-height: 80%;
      }
    }
  }
}

.nf {
  &-content {
    padding: 15px;
    flex-shrink: 0;
  }
}
