@media (min-width: 750px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 750px;
  }
  .copyright {
    width: 60%;
    max-width: 600px;
    margin-left: auto;
  }
  .hero {
    &-desc {
      max-width: 50%;
    }
    .front & {
      background-image: url(../img/xl/hero.png);
    }
    &-media {
      background-image: url(../img/xl/hero-media.png);
    }
    &-shop {
      background-image: url(../img/xl/hero-shop.png);
    }
    &-teachers {
      background:{
        image: url(../img/xl/hero-teachers.jpg);
        size: auto 100%;
        position: 100% 50%;
      }
    }
    &-testim {
      background-image: url(../img/xl/hero-reviews.png);
    }
    &-about {
      background-image: url(../img/xl/hero-about.jpg);
    }
    &-contact {
      background-image: url(../img/xl/footer.png);
    }
    padding-bottom: 150px;
  }
  .logo {
    &-top {
      font-size: 3.75em;
      max-width: 340px;
    }
  }
  .section {
    &-reviews {
      padding: 80px 0;
    }
    &-coach {
      padding-bottom: 40px;
      .shape {
        &-top {
          transform-origin: center bottom;
          transform: scaleY(.5);
        }
      }
    }
  }
  .footer {
    padding-top: 80px;
    &-actions {
      display: flex;
      justify-content: space-between;
      > * {
        width: 45%;
      }
    }
    &-info {
      > .vectors {
        margin-top: 0;
      }
    }
    .form {
      margin-top: 1.5em;
    }
    textarea {
      min-height: 105px;
    }
  }
  .plans {
    height: 375px;
  }
  .plan {
    width: 260px;
    overflow: hidden;
    &-standart {
      margin-left: -130px;
    }
    &-desc {
      margin: 0 -1px;
    }
  }
  .menu {
    top: 48px;
  }
  .input {
    line-height: 1.5;
  }
  .shop {
    margin: 0 -20px;
    &-item {
      .price {
        margin-bottom: .9em;
      }
      width: 33.333333%;
      padding: 10px;
      &-pic {
        height: 240px;
      }
      &-name {
        display: block;
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: 1em;
        text-transform: uppercase;
      }
    }
  }
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pager {
    ~ .sorting {
      margin: 0;
    }
  }
  .product {
    @include clear;
    &-gallery {
      float: left;
    }
    &-header {
      margin-top: 1em;
    }
    &-credits, &-header {
      float: right;
      width: 400px;
    }
    &-desc {
      clear: both;
      margin: 0;
      padding: 80px 0;
    }
    .button {
      display: inline-flex;
      width: auto;
    }
  }
  .gallery {
    margin: 0;
    &-item {
      &:hover {
        opacity: .92;
      }
    }
  }
  .photos {
    &-coaches {
      height: 28.1vw;
    }
  }
  .photo {
    width: 33.333333%;
  }
  .testim {
    .ava {
      width: 140px;
      height: 180px;
    }
  }

  .teachers {
    .review {
      &:nth-child(even) {
        padding: 100px 0;
        &:after, &:before {
          height: 100px;
        }
      }
    }
  }

  .news {
    &-name {
      font-size: 1.5em;
    }
    &-full {
      h1 {
        font-size: 1.8em;
      }
    }
  }

  .path {
    width: 33.333333%;
    &-link {
      height: 33.359375vw;
    }
    &-schedule {
      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
  }

}
