/* ----------------------------------------------------------------------------
 * Easy!Appointments - Open Source Web Scheduler
 *
 * @package     EasyAppointments
 * @author      A.Tselegidis <alextselegidis@gmail.com>
 * @copyright   Copyright (c) 2013 - 2016, Alex Tselegidis
 * @license     http://opensource.org/licenses/GPL-3.0 - GPLv3
 * @link        http://easyappointments.org
 * @since       v1.0.0
 * ---------------------------------------------------------------------------- */

body .custom-qtip {
    border: none;
    border-radius: 0;
    padding: 10px;
    box-shadow: 1px 1px 3px #767676;
    background: #fff;
    font-size: 12px;
    line-height: 20px;
    color: #1199a7;
}

body .ui-widget {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}

body .ui-widget-overlay {
    background: #000 50% 50% repeat-x;
    opacity: .5;
    filter: Alpha(Opacity=50);
}

body .ui-dialog .ui-dialog-titlebar-close {
    display: none;
}

body .ui-draggable .ui-dialog-titlebar {
    background: #27bdc0;
    color: #FFF;
    font-size: 1.5em;
    font-weight: lighter;
    padding: 12px 10px;
    border: none;
    border-bottom: 4px solid #70c2ca;
    margin-bottom: 10px;
}

body .ui-dialog {
    padding: 0;
    z-index: 2000;
    border: none !important;
    box-shadow: 0 0 10px #333;
}

body .ui-dialog .ui-dialog-buttonpane {
    padding: .3em 1em .3em .4em;
    border: none;
}

body .ui-button .ui-icon,
body .ui-button:hover .ui-icon {
    background-image: url('../ext/jquery-ui/images/ui-icons_222222_256x240.png');
}

body .ui-dialog #error-technical {
    max-width: 500px;
}

body .ui-widget.ui-widget-content {
    border: 1px solid #27bdc0;
    padding: 0;
}

body .ui-datepicker .ui-widget-header {
    border: none;
    background: #27bdc0;
    border-radius: 0;
}

body .ui-datepicker .ui-widget-header .ui-icon {
    background-image: url("../ext/jquery-ui/images/ui-icons_ffffff_256x240.png")
}

body .ui-datepicker .ui-datepicker-title {
    color: white;
}

body .ui-datepicker th {
    background: #27bdc0;
    color: #FFF;
}

body .ui-datepicker tbody tr:first-child td {
    margin-top: 5px;
}

body .ui-datepicker td a,
body .ui-datepicker td span {
    border: none !important;
    background: none !important;
    color: #27bdc0 !important;
    text-align: center !important;
    width: 32px;
    height: 32px;
    line-height: 2;
}

html body .ui-datepicker td a.ui-state-active {
    color: #FFF !important;
    font-weight: bold !important;
    background: #27bdc0 !important;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    line-height: 1.3;
    margin: 4px;
}

body .ui-datepicker td a.ui-state-highlight {
    background: #27bdc0 !important;
    border-radius: 67px;
    color: #FFF !important;
    width: 22px;
    height: 22px;
    line-height: 1.3;
    margin: 4px;

}

body .ui-datepicker .ui-datepicker-prev-hover {
    top: 2px !important;
    left: 2px !important;
    background: #27bdc0;
    border-color: #27bdc0;
    border-radius: 0;
    cursor: pointer;
}

body .ui-datepicker .ui-datepicker-next-hover {
    top: 2px !important;
    right: 2px !important;
    background: #27bdc0;
    border-color: #27bdc0;
    border-radius: 0;
    cursor: pointer;
}

body .ui-datepicker .ui-slider-handle {
    border-radius: 0;
    border-color: #27bdc0;
    background-color: #27bdc0;
}

.breaks tr:hover td {
    background: #FFFFC2 !important;
}

.working-plan td {
    vertical-align: middle;
}

.breaks td  {
    vertical-align: middle;
}

li.language {
	  cursor: pointer;
    margin: 0 -14px;
    padding: 0 14px;
}

li.language:hover {
    background-color: #27bdc0;
    color: #fff;
}

#select-language {
	cursor: pointer;
    display: inline-block;
    padding: 4px 5px;
}

#select-language.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#language-list {
    list-style: none;
    padding-left: 0;
}

/* JQUERY UI DATETIME PICKER ADDON
   ------------------------------------------------------------------------- */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none;  width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }
