doctype html
html
    include includes/partials/head
    body
        section.notfound
            .container
                .nf-content
                    h1.h2 Мелодия не найдена
                    .btn-wrapper
                        a.button(href="/")
                            span.btn-text Играть заново
                img(src=require('./img/ui/404.svg') alt="Страница не найдена")


