{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% set homeclass = 'home' %}
{% import _self as menus %}
    {%
        set item_classes = [
          'dropdown',
          item.in_active_trail ? 'active-trail',
          item.is_active ? 'is-active',
        ]
%}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

          {% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
              <div class="container">
              <div class="nav">
        <input id="globalnav" type="checkbox" hidden>
      <label class="nav-label hide-on-desktop" for="globalnav"><span></span><span></span><span></span></label>
      <div class="menu">
        <div class="menu-border"><span></span><span></span><span></span><span></span></div>
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
    {% if item.title == 'Главная' %}
    <li{{ item.attributes}}>
        <a  class="home" href="{{item.url}}" ></a>
    {% else %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
    </div>
  </div>


          {{ drupal_view('social_links' , 'block_1' ) }}
              </div>

          {% endmacro %}
