{% for item in items %}
  <a class="photo" data-fancybox-group="photos" href="{{  file_url(item.content['#item'].entity.uri.value) }}" style="background-image: url('{{  file_url(item.content['#item'].entity.uri.value) }}');">


    <div class="photo-content">
      <div class="photo-name">{{ item.content['#item'].title }}</div>
      <div class="photo-desc">{{ item.content['#item'].alt }}</div>
    </div></a>
{% endfor %}