{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<section class="hero hero-teachers"

               style="background-image: url( {{ file_url(term.field_background_image.entity.fileuri) }});"

      >
  <div class="container">

         <div class="hero-content">
           <h2 class="logo logo-top"></h2>
           <h1 class="h1">{{ term_type }}</h1>
           <div class="hero-desc-class"></div>
          </div>
  </div>
</section>
<section class="section section-about light">
<svg class="shape shape-top" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
<!--div{{ attributes }}-->
<div class="container">

<div class="class-desc">{{ content.description }}</div>
        <div class="about-content">
        	 <div class="container class-path">
             {%  if content.field_class_plan_3['#object'] is defined %}
        <h3> ПРОГРАММА ВКЛЮЧАЕТ В СЕБЯ <span>ТРИ КУРСА:</span> </h3>

                   {% elseif content.field_class_plan_2['#object'] is defined %}
        <h3> ПРОГРАММА ВКЛЮЧАЕТ В СЕБЯ <span>ДВА КУРСА:</span> </h3>

                   {% elseif content.field_class_plan_1['#object'] is defined %}
        <h3> ПРОГРАММА ВКЛЮЧАЕТ В СЕБЯ <span>ОДИН КУРС:</span> </h3>
      {% else %}
              {% endif %}
        	        <ul class="steps">
        {% if content.field_class_plan_1['#object'] is defined  %}
          <li class="step">
            <div class="step-icon"><img src="{{ base_path ~ directory }}/frontend/dist/img/vector/level1.svg"></div>
            <div class="step-index">Базовый</div>

            <ul class="step-desc">{{ content.field_class_plan_1}}</ul>
          </li>
        {% endif %}
        {% if content.field_class_plan_2['#object'] is defined %}
          <li class="step">
            <div class="step-icon"><img src="{{ base_path ~ directory }}/frontend/dist/img/vector/level2.svg"></div>
            <div class="step-index">Стандартный</div>
            <div class="step-desc">{{ content.field_class_plan_2}}</div>
          </li>
        {% endif %}
        {% if content.field_class_plan_3['#object'] is defined %}
          <li class="step">
            <div class="step-icon"><img src="{{ base_path ~ directory }}/frontend/dist/img/vector/level3.svg"></div>
            <div class="step-index">Продвинутый</div>
            <div class="step-desc">{{ content.field_class_plan_3}}</div>
          </li>
        {% endif %}
        </ul>
        </div>
        </div>
    <div class="condition-two-column"> {{ content.field_class_conditions}}</div>
  </div>
  </section>

<section class="section section-plans light"> 
     <div class="container">
    <div class="section-plans-header">
      <h3>{{term_type}}</h3>
    </div>

{{ drupal_view('abonementy' , 'block_1') }}
<div class="condition-two-column">{{ content.field_plan_conditions }}</div>
  {% if content.field_gallery_coach['#object'] is defined %}
<div class="coach-photos">
      <div class="section-plans-header"><h3 class="h3">Преподаватели</h3></div>
  <div class="photos">{{ content.field_gallery_coach}}</div>
</div>
  {% endif %}

  {% if content.field_gallery_stuff['#object'] is defined %}
<div class="stuff-photos">
      <div class="section-plans-header"><h3 class="h3">Оборудование</h3></div>
  <div class="photos">{{ content.field_gallery_stuff}}</div>
</div>
{% endif %}

   </div>

<!--/div-->
<svg class="shape shape-bottom" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
</section>
