<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="theme-color" content="#27bdc0">

      <link rel="shortcut icon" sizes="32x32" type="image/png" href="{{ base_path ~ directory }}/frontend/dist/favicon.png">

<!--link href="{{ base_path ~ directory }}/frontend/dist/css/style.css" rel="stylesheet"-->
  </head>
  {% if head_title.title == 'Главная' %}
  <body class="front">
  {% else %}
  <body>
  {% endif %}
  <div class="header">
      {{ page.primary_menu }}
      {{page.header}}
  </div>

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    <div hidden>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">

      <!-- UI -->
        <symbol id="svg-arrow" viewBox="0 0 67.9 14.8">
          <g>
            <rect y="5.4" width="57.6" height="4"/>
            <polygon points="67.9 7.4 55.1 14.8 55.1 0 67.9 7.4"/>
          </g>
        </symbol>
        <symbol id="svg-arrow-back" viewBox="0 0 67.9 14.8">
          <g transform="rotate(180 33.95 7.4)">
            <rect y="5.4" width="57.6" height="4"/>
            <polygon points="67.9 7.4 55.1 14.8 55.1 0 67.9 7.4"/>
          </g>
        </symbol>
        <symbol id="svg-viber" viewBox="0 0 52.511 52.511">
          <g>
            <path d="M31.256,0H21.254C10.778,0,2.255,8.521,2.255,18.995v9.01c0,7.8,4.793,14.81,12,17.665v5.841
          c0,0.396,0.233,0.754,0.595,0.914c0.13,0.058,0.268,0.086,0.405,0.086c0.243,0,0.484-0.089,0.671-0.259L21.725,47h9.531
          c10.476,0,18.999-8.521,18.999-18.995v-9.01C50.255,8.521,41.732,0,31.256,0z M48.255,28.005C48.255,37.376,40.63,45,31.256,45
          h-9.917c-0.248,0-0.487,0.092-0.671,0.259l-4.413,3.997v-4.279c0-0.424-0.267-0.802-0.667-0.942
          C8.81,41.638,4.255,35.196,4.255,28.005v-9.01C4.255,9.624,11.881,2,21.254,2h10.002c9.374,0,16.999,7.624,16.999,16.995V28.005z"
            />
            <path d="M39.471,30.493l-6.146-3.992c-0.672-0.437-1.472-0.585-2.255-0.423c-0.784,0.165-1.458,0.628-1.895,1.303l-0.289,0.444
          c-2.66-0.879-5.593-2.002-7.349-7.085l0.727-0.632h0c1.248-1.085,1.379-2.983,0.294-4.233l-4.808-5.531
          c-0.362-0.417-0.994-0.46-1.411-0.099l-3.019,2.624c-2.648,2.302-1.411,5.707-1.004,6.826c0.018,0.05,0.04,0.098,0.066,0.145
          c0.105,0.188,2.612,4.662,6.661,8.786c4.065,4.141,11.404,7.965,11.629,8.076c0.838,0.544,1.781,0.805,2.714,0.805
          c1.638,0,3.244-0.803,4.202-2.275l2.178-3.354C40.066,31.413,39.934,30.794,39.471,30.493z M35.91,34.142
          c-0.901,1.388-2.763,1.782-4.233,0.834c-0.073-0.038-7.364-3.835-11.207-7.75c-3.592-3.659-5.977-7.724-6.302-8.291
          c-0.792-2.221-0.652-3.586,0.464-4.556l2.265-1.968l4.152,4.776c0.369,0.424,0.326,1.044-0.096,1.411l-1.227,1.066
          c-0.299,0.26-0.417,0.671-0.3,1.049c2.092,6.798,6.16,8.133,9.13,9.108l0.433,0.143c0.433,0.146,0.907-0.021,1.155-0.403
          l0.709-1.092c0.146-0.226,0.37-0.379,0.63-0.434c0.261-0.056,0.527-0.004,0.753,0.143l5.308,3.447L35.91,34.142z"/>
            <path d="M28.538,16.247c-0.532-0.153-1.085,0.156-1.236,0.688c-0.151,0.531,0.157,1.084,0.688,1.235
          c1.49,0.424,2.677,1.613,3.097,3.104c0.124,0.44,0.525,0.729,0.962,0.729c0.09,0,0.181-0.012,0.272-0.037
          c0.531-0.15,0.841-0.702,0.691-1.234C32.405,18.578,30.69,16.859,28.538,16.247z"/>
            <path d="M36.148,22.219c0.09,0,0.181-0.012,0.272-0.037c0.532-0.15,0.841-0.703,0.691-1.234c-1.18-4.183-4.509-7.519-8.689-8.709
          c-0.531-0.153-1.084,0.158-1.235,0.689c-0.151,0.531,0.157,1.084,0.688,1.235c3.517,1,6.318,3.809,7.311,7.328
          C35.311,21.931,35.711,22.219,36.148,22.219z"/>
            <path d="M27.991,7.582c-0.532-0.153-1.085,0.156-1.236,0.689c-0.151,0.531,0.157,1.084,0.688,1.235
          c5.959,1.695,10.706,6.453,12.388,12.416c0.124,0.44,0.525,0.729,0.962,0.729c0.09,0,0.181-0.012,0.272-0.037
          c0.531-0.15,0.841-0.703,0.691-1.234C39.887,14.753,34.613,9.467,27.991,7.582z"/>
          </g>
        </symbol>
        <symbol id="svg-telegram" viewBox="0 0 300 300">
          <g>
            <path d="M5.299,144.645l69.126,25.8l26.756,86.047c1.712,5.511,8.451,7.548,12.924,3.891l38.532-31.412
      c4.039-3.291,9.792-3.455,14.013-0.391l69.498,50.457c4.785,3.478,11.564,0.856,12.764-4.926L299.823,29.22
      c1.31-6.316-4.896-11.585-10.91-9.259L5.218,129.402C-1.783,132.102-1.722,142.014,5.299,144.645z M96.869,156.711l135.098-83.207
      c2.428-1.491,4.926,1.792,2.841,3.726L123.313,180.87c-3.919,3.648-6.447,8.53-7.163,13.829l-3.798,28.146
      c-0.503,3.758-5.782,4.131-6.819,0.494l-14.607-51.325C89.253,166.16,91.691,159.907,96.869,156.711z"/>
          </g>
        </symbol>
        <symbol id="svg-placemark" viewBox="0 0 430.114 430.114">
          <g>
            <path d="M356.208,107.051c-1.531-5.738-4.64-11.852-6.94-17.205C321.746,23.704,261.611,0,213.055,0
      C148.054,0,76.463,43.586,66.905,133.427v18.355c0,0.766,0.264,7.647,0.639,11.089c5.358,42.816,39.143,88.32,64.375,131.136
      c27.146,45.873,55.314,90.999,83.221,136.106c17.208-29.436,34.354-59.259,51.17-87.933c4.583-8.415,9.903-16.825,14.491-24.857
      c3.058-5.348,8.9-10.696,11.569-15.672c27.145-49.699,70.838-99.782,70.838-149.104v-20.262
      C363.209,126.938,356.581,108.204,356.208,107.051z M214.245,199.193c-19.107,0-40.021-9.554-50.344-35.939
      c-1.538-4.2-1.414-12.617-1.414-13.388v-11.852c0-33.636,28.56-48.932,53.406-48.932c30.588,0,54.245,24.472,54.245,55.06
      C270.138,174.729,244.833,199.193,214.245,199.193z"/>
          </g>
        </symbol>
        <symbol id="svg-whatsapp" viewBox="0 0 90 90">
          <g>
            <path d="M90,43.841c0,24.213-19.779,43.841-44.182,43.841c-7.747,0-15.025-1.98-21.357-5.455L0,90l7.975-23.522
      c-4.023-6.606-6.34-14.354-6.34-22.637C1.635,19.628,21.416,0,45.818,0C70.223,0,90,19.628,90,43.841z M45.818,6.982
      c-20.484,0-37.146,16.535-37.146,36.859c0,8.065,2.629,15.534,7.076,21.61L11.107,79.14l14.275-4.537
      c5.865,3.851,12.891,6.097,20.437,6.097c20.481,0,37.146-16.533,37.146-36.857S66.301,6.982,45.818,6.982z M68.129,53.938
      c-0.273-0.447-0.994-0.717-2.076-1.254c-1.084-0.537-6.41-3.138-7.4-3.495c-0.993-0.358-1.717-0.538-2.438,0.537
      c-0.721,1.076-2.797,3.495-3.43,4.212c-0.632,0.719-1.263,0.809-2.347,0.271c-1.082-0.537-4.571-1.673-8.708-5.333
      c-3.219-2.848-5.393-6.364-6.025-7.441c-0.631-1.075-0.066-1.656,0.475-2.191c0.488-0.482,1.084-1.255,1.625-1.882
      c0.543-0.628,0.723-1.075,1.082-1.793c0.363-0.717,0.182-1.344-0.09-1.883c-0.27-0.537-2.438-5.825-3.34-7.977
      c-0.902-2.15-1.803-1.792-2.436-1.792c-0.631,0-1.354-0.09-2.076-0.09c-0.722,0-1.896,0.269-2.889,1.344
      c-0.992,1.076-3.789,3.676-3.789,8.963c0,5.288,3.879,10.397,4.422,11.113c0.541,0.716,7.49,11.92,18.5,16.223
      C58.2,65.771,58.2,64.336,60.186,64.156c1.984-0.179,6.406-2.599,7.312-5.107C68.398,56.537,68.398,54.386,68.129,53.938z"/>
          </g>
        </symbol>

        <!-- Socials -->
        <symbol id="svg-facebook" viewBox="0 0 12 25">
          <path fill-rule="evenodd" d="M11.820,8.958 L7.682,8.958 L7.682,5.966 C7.682,5.046 8.638,4.832 9.084,4.832 C9.529,4.832 11.757,4.832 11.757,4.832 L11.757,0.790 L8.698,0.778 C4.512,0.778 3.560,3.791 3.560,5.719 L3.560,8.958 L0.525,8.958 L0.525,13.122 L3.560,13.122 C3.560,18.465 3.560,24.358 3.560,24.358 L7.682,24.358 C7.682,24.358 7.682,18.401 7.682,13.122 L11.181,13.122 L11.820,8.958 Z"/>
        </symbol>
        <symbol id="svg-instagram" viewBox="0 0 20 21">
          <path d="M19.939,14.247 C19.890,15.310 19.721,16.037 19.474,16.673 C19.219,17.331 18.877,17.888 18.321,18.445 C17.765,19.001 17.208,19.342 16.550,19.598 C15.914,19.845 15.187,20.014 14.123,20.062 C13.057,20.111 12.716,20.123 10.001,20.123 C7.286,20.123 6.945,20.111 5.879,20.062 C4.815,20.014 4.088,19.845 3.452,19.598 C2.794,19.342 2.237,19.001 1.681,18.445 C1.125,17.888 0.783,17.331 0.528,16.673 C0.281,16.037 0.112,15.310 0.063,14.247 C0.015,13.179 0.003,12.838 0.003,10.123 C0.003,7.408 0.015,7.066 0.063,6.000 C0.112,4.935 0.281,4.209 0.528,3.573 C0.783,2.915 1.125,2.358 1.681,1.802 C2.237,1.246 2.794,0.904 3.452,0.648 C4.088,0.401 4.815,0.232 5.879,0.184 C6.945,0.135 7.286,0.123 10.001,0.123 C12.716,0.123 13.057,0.135 14.123,0.184 C15.187,0.232 15.914,0.401 16.550,0.648 C17.208,0.904 17.765,1.246 18.321,1.802 C18.877,2.358 19.219,2.915 19.474,3.573 C19.721,4.209 19.890,4.935 19.939,6.000 C19.988,7.066 19.999,7.408 19.999,10.123 C19.999,12.838 19.988,13.179 19.939,14.247 ZM18.139,6.082 C18.095,5.108 17.932,4.577 17.795,4.225 C17.614,3.758 17.397,3.426 17.047,3.075 C16.697,2.726 16.364,2.509 15.898,2.328 C15.545,2.191 15.016,2.028 14.041,1.983 C12.987,1.935 12.671,1.925 10.001,1.925 C7.331,1.925 7.015,1.935 5.961,1.983 C4.986,2.028 4.457,2.191 4.105,2.328 C3.638,2.509 3.305,2.726 2.955,3.075 C2.605,3.426 2.388,3.758 2.207,4.225 C2.070,4.577 1.907,5.108 1.863,6.082 C1.815,7.137 1.804,7.453 1.804,10.123 C1.804,12.793 1.815,13.110 1.863,14.164 C1.907,15.138 2.070,15.668 2.207,16.020 C2.388,16.487 2.605,16.821 2.955,17.170 C3.305,17.521 3.638,17.737 4.105,17.918 C4.457,18.055 4.986,18.219 5.961,18.263 C7.015,18.311 7.331,18.321 10.001,18.321 C12.671,18.321 12.987,18.311 14.041,18.263 C15.016,18.219 15.545,18.055 15.898,17.918 C16.364,17.737 16.697,17.521 17.047,17.170 C17.397,16.821 17.614,16.487 17.795,16.020 C17.932,15.668 18.095,15.138 18.139,14.164 C18.187,13.110 18.198,12.793 18.198,10.123 C18.198,7.453 18.187,7.137 18.139,6.082 ZM15.338,5.985 C14.675,5.985 14.138,5.448 14.138,4.785 C14.138,4.122 14.675,3.585 15.338,3.585 C16.001,3.585 16.538,4.122 16.538,4.785 C16.538,5.448 16.001,5.985 15.338,5.985 ZM10.001,15.258 C7.165,15.258 4.867,12.960 4.867,10.123 C4.867,7.287 7.165,4.988 10.001,4.988 C12.836,4.988 15.135,7.287 15.135,10.123 C15.135,12.960 12.836,15.258 10.001,15.258 ZM10.001,6.790 C8.160,6.790 6.668,8.283 6.668,10.123 C6.668,11.964 8.160,13.456 10.001,13.456 C11.842,13.456 13.334,11.964 13.334,10.123 C13.334,8.283 11.842,6.790 10.001,6.790 Z"/>
        </symbol>
        <symbol id="svg-youtube" viewBox="0 0 511.626 511.627">
          <g>
            <path d="M511.339,212.987c-0.186-10.277-1-23.271-2.423-38.97c-1.431-15.708-3.478-29.746-6.14-42.115
          c-3.046-13.893-9.661-25.6-19.842-35.117c-10.181-9.519-22.031-15.037-35.549-16.562c-42.258-4.755-106.115-7.135-191.573-7.135
          c-85.459,0-149.317,2.38-191.572,7.135c-13.516,1.524-25.319,7.043-35.404,16.562c-10.089,9.514-16.656,21.221-19.702,35.117
          c-2.852,12.373-4.996,26.41-6.423,42.115c-1.425,15.699-2.235,28.688-2.424,38.97C0.094,223.265,0,237.539,0,255.813
          c0,18.272,0.094,32.55,0.288,42.826c0.189,10.284,0.999,23.271,2.424,38.969c1.427,15.707,3.474,29.745,6.139,42.116
          c3.046,13.897,9.659,25.602,19.842,35.115c10.185,9.517,22.036,15.036,35.548,16.56c42.255,4.76,106.109,7.139,191.572,7.139
          c85.466,0,149.315-2.379,191.573-7.139c13.518-1.523,25.316-7.043,35.405-16.56c10.089-9.514,16.652-21.225,19.698-35.115
          c2.854-12.371,4.996-26.409,6.427-42.116c1.423-15.697,2.231-28.691,2.423-38.969c0.191-10.276,0.287-24.554,0.287-42.826
          C511.626,237.539,511.531,223.265,511.339,212.987z M356.883,271.231L210.706,362.59c-2.666,1.903-5.905,2.854-9.71,2.854
          c-2.853,0-5.803-0.764-8.848-2.286c-6.28-3.422-9.419-8.754-9.419-15.985V164.454c0-7.229,3.14-12.561,9.419-15.986
          c6.473-3.431,12.657-3.239,18.558,0.571l146.178,91.36c5.708,3.23,8.562,8.372,8.562,15.415
          C365.446,262.854,362.591,267.998,356.883,271.231z"/>
          </g>
        </symbol>
        <symbol id="svg-twitter" viewBox="0 0 17 14">
          <path d="M16.546,2.029 C16.268,2.181 15.431,2.485 14.651,2.561 C15.151,2.294 15.892,1.419 16.075,0.723 C15.594,1.027 14.489,1.471 13.944,1.471 C13.944,1.471 13.944,1.471 13.945,1.473 C13.322,0.828 12.447,0.426 11.476,0.426 C9.590,0.426 8.061,1.941 8.061,3.811 C8.061,4.070 8.092,4.324 8.149,4.565 L8.148,4.565 C5.589,4.499 2.599,3.229 0.913,1.053 C-0.121,2.830 0.774,4.805 1.949,5.526 C1.548,5.556 0.806,5.480 0.458,5.143 C0.434,6.322 1.006,7.884 3.092,8.450 C2.690,8.665 1.980,8.604 1.670,8.557 C1.779,9.554 3.186,10.855 4.722,10.855 C4.175,11.482 2.306,12.623 -0.007,12.259 C1.564,13.208 3.396,13.756 5.335,13.756 C10.844,13.756 15.123,9.331 14.893,3.872 C14.893,3.866 14.890,3.860 14.890,3.854 C14.890,3.839 14.893,3.823 14.893,3.811 C14.893,3.794 14.890,3.777 14.890,3.759 C15.391,3.422 16.064,2.820 16.546,2.029 Z"/>
        </symbol>

  </svg>
    </div>
  </body>
  <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "@id": "http://solschool.com.ua",
  "name": "Современная Музыкальная Школа Соль",
  "image": "http://playdrums.force-up.com/themes/custom/pdtheme/frontend/dist/img/logo.svg",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "92 A Plekhanivs'ka St",
    "postalCode": 61068,
    "addressLocality": "Kharkiv",
    "addressCountry": "UA"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 49.977785,
    "longitude": 36.264045
  },
  "url": "http:/solschool.com.ua",
  "telephone": "+380660738483",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      "opens": "09:00",
      "closes": "21:00"
    }
  ]
}
</script>
</html>
