    <section class="notfound">
      <div class="container">
        <div class="nf-content">
          <h1 class="h2">Мелодия не найдена</h1>
          <div class="btn-wrapper"><a class="button" href="/"><span class="btn-text">Играть заново</span></a></div>
        </div><img src="{{ base_path ~ directory }}/frontend/dist/img/ui/404.svg" alt="Страница не найдена">
      </div>
    </section>

