{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div {{ attributes }}> 
<footer class="footer">
         <div class="container footer-container">
            <div class="footer-actions">
               <div class="footer-header">
                  <div class="logo logo-bottom">
                  </div>
               </div>
               <div class="footer-info">
                  <h3 class="h3">Контакты</h3>
                  <div class="address">
                     <div class="vectors">
                        <svg width="13" height="19">
                           <use xlink:href="#svg-placemark"></use>
                        </svg>
                     </div>
                     <address class="address-info">
                      <a href="https://www.google.com/maps/place/Sol'+-+Modern+Music+School/@49.977856,36.2628768,17z/">{{ drupal_field( 'field_adres_skoly' , 'node' , 36 ) }}</a> </address>
                  </div>
                  <div class="messengers">
                     {% set phonenumber =  drupal_field( 'field_nomer_telefona' , 'node' , 36 )  %}
                     <!--.vectors// a(href="whatsapp://send?phone=+380661588980")
                        svg(width=16 height=16)
                            use(xlink:href="#svg-whatsapp")
                        a(href="viber://chat?number=+380661588980")
                        svg(width=16 height=16)
                            use(xlink:href="#svg-viber")
                        a(href="tg://resolve?domain=Inutochkin")
                        svg(width=16 height=16)
                            use(xlink:href="#svg-telegram")--><a class="tel" href="tel:{% spaceless %}{{ phonenumber}}">{{ phonenumber}}</a>{% endspaceless %}
                  </div>
                       {{ drupal_entity( 'node' ,37 , 'full' ) }}
               </div>
            </div>
    {{ content }}
         </div>
        <div class="copyright container"><div class="copyright-content">&copy; copyright by playdrumlessons</div></div>
      </footer>
</div>
