<section class="hero hero-teachers"
               {% if node.field_background_image.entity.fileuri %}
               style="background-image: url({{ file_url(node.field_background_image.entity.fileuri) }});"
               {% endif %}
      >
    <div class="container">

         {{ drupal_entity('node' , 59 , 'full' ) }}
    </div>
</section>


<section class="section section-coach light">
<svg class="shape shape-top" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
{{ page.content }}
<svg class="shape shape-bottom" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
</section>
{{ page.footer }}