footer.footer
    .container
        h3.h3 Контакты
        .footer-header
            .logo.logo-bottom
                .logo-head Play
                .logo-mid drum
                .logo-foot lessons
        .footer-actions
            include ../components/feedback
            include ../components/form
    include ../components/copyright

include vectors.html