.header
    .container
        .nav
            input#globalnav(type="checkbox" hidden)
            label.nav-label.hide-on-desktop(for="globalnav")
                span
                span
                span
            .menu
                .menu-border
                    span
                    span
                    span
                    span
                ul
                    li
                        a.home
                    each i in ["Кто мы", "Преподаватели", "Расписание", "Абонементы", "Медиа", "Магазин", "Отзывы", "Контакты"]
                        li
                            a= i
        include ../components/phone