@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic);
@font-face {
    font-family: San Francisco;
    font-weight: 200;
    src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline
}

body,
html {
    overflow-x: hidden
}

:after,
:before {
    box-sizing: inherit
}

:active,
:focus,
[required] {
    outline: none;
    box-shadow: none
}

::-moz-focus-inner {
    border: 0
}

textarea {
    resize: none;
    overflow: auto
}

a,
button,
input,
label,
select,
textarea {
    cursor: pointer
}

button,
input,
label,
select,
textarea {
    font: inherit
}

a {
    color: inherit;
    text-decoration: none
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%
}

::-webkit-input-placeholder {
    color: #000
}

::-moz-placeholder {
    color: #000
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent;
    opacity: 0
}

ol,
ul {
    list-style: none
}

img {
    max-width: 100%;
    max-height: 100%
}

svg {
    display: inline-block;
    vertical-align: top
}

circle,
path,
rect {
    fill: inherit
}

.slick-slider {
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.slick-list {
    position: relative;
    overflow: hidden
}

.slick-list,
.slick-track {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto
}

.slick-track:after {
    content: "";
    clear: both;
    display: table
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto
}

.slick-arrow.slick-hidden {
    display: none
}

.dots {
    font-size: 0
}

.dots li {
    display: inline-block;
    vertical-align: top
}

.dots li+li {
    margin-left: 15px
}

.dots li.slick-active button {
    opacity: 1
}

.dots button {
    border: 0;
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 13px;
    background-color: #27bdc0;
    opacity: .5
}

.dots-reviews {
    text-align: right;
    margin-top: 25px
}

body {
    font: 400 12px/1.5 Ubuntu, sans-serif;
    color: #fff;
    background-image: linear-gradient(90deg, #044a51, #010b0c)
}

::-moz-selection {
    background-color: rgba(39, 189, 192, .65);
    color: #fff
}

::selection {
    background-color: rgba(39, 189, 192, .65);
    color: #fff
}

.static {
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    text-transform: uppercase
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 360px
}

.button {
    fill: #fff;
    color: #fff;
    background-color: rgba(39, 189, 192, .61);
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    text-transform: uppercase;
    line-height: 1.25;
    padding: .625em 2.5em
}

.button svg {
    max-width: 34px;
    max-height: 8px;
    margin-left: 1em
}

.btn {
    text-transform: uppercase;
    color: #27bdc0;
    fill: #27bdc0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-flow: column-reverse;
    flex-flow: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700
}

.btn svg {
    max-width: 34px;
    max-height: 8px;
    margin-bottom: 1em
}

.btn-wrapper {
    text-align: center
}

.header {
    position: fixed;
    background-color: rgba(3, 2, 2, .65);
    left: 0;
    top: 0;
    right: 0;
    padding: 11px 0 12px;
    z-index: 3
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.tel {
    font-family: San Francisco, Ubuntu, sans-serif;
    font-size: 1.6em;
    font-weight: 200;
    line-height: 1;
    color: #27bdc0
}

.menu {
    position: fixed;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #010b0c;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.5em;
    line-height: 2.2;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
    color: hsla(0, 0%, 100%, .95)
}

.menu-border {
    pointer-events: none
}

.menu-border span {
    position: absolute;
    background-color: #27bdc0;
    transition: all .4s ease
}

.menu-border span:nth-child(odd) {
    height: 2px;
    width: 0
}

.menu-border span:nth-child(2n) {
    height: 0;
    width: 2px
}

.menu-border span:first-child {
    top: 15px;
    left: 15px
}

.menu-border span:nth-child(2) {
    top: 15px;
    right: 15px
}

.menu-border span:nth-child(3) {
    bottom: 15px;
    right: 15px
}

.menu-border span:nth-child(4) {
    bottom: 15px;
    left: 15px
}

.menu a {
    padding-bottom: 1px;
    border-bottom: 2px solid rgba(39, 189, 192, .5)
}

.menu li {
    opacity: 0;
    -webkit-transform: translateY(-6px) scale(1.25);
    transform: translateY(-6px) scale(1.25);
    transition: all .5s ease
}

:checked~.menu {
    opacity: 1;
    visibility: visible
}

:checked~.menu li {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

:checked~.menu li:first-child {
    transition-delay: .85s
}

:checked~.menu li:nth-child(2) {
    transition-delay: .95s
}

:checked~.menu li:nth-child(3) {
    transition-delay: 1.05s
}

:checked~.menu li:nth-child(4) {
    transition-delay: 1.15s
}

:checked~.menu li:nth-child(5) {
    transition-delay: 1.25s
}

:checked~.menu li:nth-child(6) {
    transition-delay: 1.35s
}

:checked~.menu li:nth-child(7) {
    transition-delay: 1.45s
}

:checked~.menu li:nth-child(8) {
    transition-delay: 1.55s
}

:checked~.menu li:nth-child(9) {
    transition-delay: 1.65s
}

:checked~.menu .menu-border span,
:checked~.menu .menu-border span:first-child {
    transition-delay: .35s
}

:checked~.menu .menu-border span:nth-child(2) {
    transition-delay: .5s
}

:checked~.menu .menu-border span:nth-child(3) {
    transition-delay: .65s
}

:checked~.menu .menu-border span:nth-child(odd) {
    width: calc(100% - 30px)
}

:checked~.menu .menu-border span:nth-child(2n) {
    height: calc(100% - 30px)
}

@media (max-height:480px) {
    .menu ul {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 100px;
        column-gap: 100px
    }
}

.nav-label {
    display: inline-block;
    vertical-align: middle
}

.nav-label span {
    transition: all .5s ease;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #27bdc0
}

.nav-label span:nth-child(odd) {
    margin-left: 8px
}

.nav-label span:first-child {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom
}

.nav-label span:nth-child(3) {
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.nav-label span+span {
    margin-top: 5px
}

:checked~.nav-label span {
    transition-delay: .75s
}

:checked~.nav-label span:nth-child(odd) {
    margin-left: 0;
    width: 15px
}

:checked~.nav-label span:nth-child(2) {
    width: 30px
}

:checked~.nav-label span:first-child {
    -webkit-transform: rotate(-35deg) translate(-4px, 6px);
    transform: rotate(-35deg) translate(-4px, 6px)
}

:checked~.nav-label span:nth-child(3) {
    -webkit-transform: rotate(35deg) translate(-4px, -6px);
    transform: rotate(35deg) translate(-4px, -6px)
}

.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    fill: #27bdc0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.socials li+li {
    margin-left: 28px
}

.light {
    background-color: #fff;
    position: relative;
    color: #040404
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
    color: #27bdc0
}

.shape {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    fill: #fff
}

.shape-top {
    bottom: 100%
}

.shape-bottom {
    top: 100%
}

.h3 {
    font-size: 2.5em
}

.logo {
    text-transform: uppercase;
    font-weight: 300;
    background-size: contain;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 50%
}

.logo-top {
    font-size: 3em;
    padding-left: 2.16em;
    max-width: 200px;
    line-height: .9em;
    margin: .83em 0
}

.logo-top:first-line {
    font-size: .83em
}

.logo-bottom {
    padding-left: 5em;
    line-height: 1;
    margin: 3em 0
}

.logo-mid {
    font-weight: 700;
    font-size: 2em
}

.logo-foot {
    font-size: 1.3em
}

.hero {
    padding: 80px 0 95px;
    background-position: 50% 0;
    background-size: cover;
    background-image: url(../img/xs/hero.png)
}

.hero .container {
    padding: 0 30px
}

.hero .socials {
    margin-bottom: 60px
}

@media (max-height:480px) {
    .hero {
        padding-bottom: 150px
    }
}

.section-coach {
    padding-bottom: 15px
}

.section-reviews {
    padding: 25px 0;
    background: url(../img/xs/reviews.png) no-repeat 50% 50%/cover
}

.section-plans {
    padding-bottom: 25px
}

.coach-desc {
    font-weight: 700;
    margin: 1.125em 0
}

.coach-item+.coach-item {
    margin-top: 1.6em
}

.coach-item:after {
    content: "";
    clear: both;
    display: table
}

.coach-icon {
    float: left;
    margin-right: 12px;
    max-width: 40px;
    text-align: center
}

.ava {
    width: 100px;
    height: 130px;
    margin: 12px auto;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    background-size: cover;
    background-position: 50% 50%
}

.ava-name {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(39, 189, 192, .65);
    font-size: 1.25em;
    padding: 3px 8px;
    width: 100%;
    word-break: break-all
}

.ava-name:after,
.ava-name:before {
    position: absolute;
    content: "";
    bottom: 100%
}

.ava-name:before {
    width: 36px;
    left: 0;
    border: hidden;
    border-style: solid;
    border-width: 5px 18px;
    border-color: transparent rgba(39, 189, 192, .65) rgba(39, 189, 192, .65) transparent
}

.ava-name:after {
    right: 0;
    height: 10px;
    width: calc(100% - 36px);
    background-color: rgba(39, 189, 192, .65)
}

.copyright {
    padding: 40px 15px 10px;
    text-align: right;
    position: relative;
    color: #141719;
    margin-top: 25px
}

.copyright .shape {
    bottom: 0;
    width: 100%
}

.copyright-content {
    position: relative
}

.footer {
    fill: #fff;
    background: url(../img/xs/footer.jpg) no-repeat 50% 50%/cover;
    padding-top: 45px
}

.footer .socials {
    margin: 2.5em 0
}

.footer .vectors {
    margin: 2em 0 .33em
}

.footer textarea {
    min-height: 65px
}

.subheading {
    font-weight: 700;
    text-transform: uppercase
}

.vectors svg+svg {
    margin-left: .42em
}

.address {
    font-size: 1.25em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    text-transform: uppercase
}

.row {
    position: relative
}

.row+.row {
    margin-top: 8px
}

.row+.row:last-child {
    margin-top: 11px
}

.row label.error {
    font-size: .8em;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 3px 0 4px;
    letter-spacing: .025em;
    background-color: red;
    opacity: .65
}

.input {
    display: block;
    width: 100%;
    background-color: hsla(0, 0%, 100%, .65);
    border: 0;
    height: 30px;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.66;
    transition: all .16s ease;
    padding: .3em 1.27em
}

.input:focus {
    background-color: rgba(39, 189, 192, .65);
    color: #fff
}

.plans {
    text-align: center;
    margin: 25px 0;
    height: 260px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.plan {
    width: 180px;
    height: 100%;
    color: #fff;
    vertical-align: top;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.25;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    transition: all .5s ease-in-out;
    -webkit-transform: translateZ(-120px);
    transform: translateZ(-120px)
}

.plan-desc {
    line-height: 1.5;
    padding: 23px 0 9px;
    background: url(../img/vector/xs/shape-bg-plan.svg) no-repeat 50% 50%/cover
}

.plan-name {
    font-weight: 500;
    font-size: 1.5em
}

.plan-time {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .66em
}

.plan-base {
    left: -15px
}

.plan-standart {
    left: 50%;
    margin-left: -90px
}

.plan-intense {
    right: -15px
}

.plan-active {
    z-index: 2;
    transition-duration: .25s;
    box-shadow: 0 0 40px #000
}

.plan-active.plan-base {
    -webkit-transform: translateX(15px);
    transform: translateX(15px)
}

.plan-active.plan-base+.plan {
    z-index: 1
}

.plan-active.plan-base+.plan+.plan {
    -webkit-transform: translateZ(-240px);
    transform: translateZ(-240px)
}

.plan-active.plan-standart {
    -webkit-transform: none;
    transform: none
}

.plan-active.plan-intense {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px)
}

.plan-muted {
    -webkit-transform: translateZ(-240px);
    transform: translateZ(-240px)
}

@media (min-width:750px) {
    body {
        font-size: 16px
    }
    .container {
        max-width: 640px
    }
    .copyright {
        width: 60%;
        max-width: 600px;
        margin-left: auto
    }
    .hero-desc {
        max-width: 50%
    }
    .logo-top {
        font-size: 3.75em;
        max-width: 340px
    }
    .section-reviews {
        padding: 80px 0
    }
    .section-coach {
        padding-bottom: 40px
    }
    .section-coach .shape-top {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5)
    }
    .footer {
        padding-top: 80px
    }
    .footer-actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .footer-actions>* {
        width: 45%
    }
    .footer-info>.vectors {
        margin-top: 0
    }
    .footer .form {
        margin-top: 1.5em
    }
    .footer textarea {
        min-height: 105px
    }
    .plans {
        height: 375px
    }
    .plan {
        width: 260px;
        overflow: hidden
    }
    .plan-standart {
        margin-left: -130px
    }
    .plan-desc {
        margin: 0 -1px
    }
    .menu {
        top: 48px
    }
    .input {
        line-height: 1.5
    }
}

@media (min-width:1170px) {
    .hide-on-desktop {
        display: none
    }
    .static {
        overflow-y: auto
    }
    .hero {
        padding: 9vw 0 20vw;
        background-image: url(../img/xl/hero.png)
    }
    .hero .container {
        padding: 0
    }
    .hero .socials {
        margin-bottom: 70px
    }
    .hero-desc {
        max-width: 360px
    }
    .socials a {
        transition: all .25s ease
    }
    .socials a:hover {
        fill: #fff
    }
    .footer {
        padding-top: 8.5vw;
        background-image: url(../img/xl/footer.png)
    }
    .footer textarea {
        min-height: 133px
    }
    .footer .container {
        max-width: 820px
    }
    .footer .socials {
        margin-bottom: 0
    }
    .footer .vectors svg {
        min-width: 28px;
        min-height: 28px
    }
    .address {
        font-size: 1.825em
    }
    .tel:hover {
        opacity: .9
    }
    .messengers .tel {
        font-size: 1.825em
    }
    .messengers .vectors {
        margin-bottom: 11px
    }
    .copyright {
        margin-top: 80px;
        padding: 0 25px 18px
    }
    .h3 {
        font-size: 3.75em
    }
    .h4 {
        font-size: 2.25em
    }
    .container {
        width: 1170px;
        max-width: none;
        padding: 0
    }
    .menu {
        transition: none;
        position: static;
        display: block;
        font-size: 1em;
        line-height: inherit;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        padding: 0
    }
    .menu-border {
        display: none
    }
    .menu li {
        transition: none;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        display: inline-block;
        vertical-align: top
    }
    .menu li+li {
        margin-left: 25px
    }
    .menu a {
        padding-bottom: 0;
        border: 0;
        opacity: .5;
        transition: all .2s ease
    }
    .menu a.active,
    .menu a:hover {
        opacity: .9
    }
    .menu a.active {
        color: #27bdc0
    }
    .section-plans {
        padding: 0
    }
    .section-reviews {
        padding: 6vw 0 16vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        background-image: url(../img/xl/reviews.png);
        background-position: 50% 0
    }
    .section-coach {
        padding-bottom: 4.2vw
    }
    .section-coach .shape-top {
        -webkit-transform: none;
        transform: none
    }
    .section-coach .btn {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap
    }
    .section-coach .btn svg {
        margin: -2px 0 0
    }
    .section-coach .btn-text {
        margin-right: 1em
    }
    .section-coach .btn-wrapper {
        text-align: left
    }
    .btn,
    .button {
        font-size: 1.5em;
        line-height: 1
    }
    .btn svg,
    .button svg {
        max-width: none;
        max-height: none;
        transition: all .25s ease
    }
    .btn:hover svg,
    .button:hover svg {
        -webkit-transform: translateX(.5em);
        transform: translateX(.5em)
    }
    .input {
        height: 60px;
        padding: 16px 22px
    }
    .coach,
    .coach-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .coach-icon {
        width: 60px;
        max-width: none;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 18px
    }
    .coach-ava,
    .coach-content {
        width: 50%
    }
    .coach-ava {
        padding-left: 40px
    }
    .coach-section {
        margin: 60px 0 80px
    }
    .reviews-wrapper {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .dots button {
        width: 18px;
        height: 24px;
        transition: all .25s ease
    }
    .dots button:hover {
        opacity: .75;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    .dots .slick-active button {
        -webkit-transform: none;
        transform: none
    }
    .dots-reviews {
        text-align: left;
        padding-left: 300px;
        margin-bottom: -24px
    }
    .review .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .review-text {
        padding: 60px 0
    }
    .ava {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 250px;
        height: 325px;
        margin: 0 50px 0 0
    }
    .ava-name {
        font-size: 1.875em;
        text-align: right;
        padding: 27px 20px 4px;
        background: transparent url(../img/vector/xl/shape-bg-ava.svg) no-repeat 100% 100%/cover
    }
    .ava-name:after,
    .ava-name:before {
        display: none
    }
    .plans {
        margin: 75px -125px;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .plan {
        cursor: default;
        position: relative;
        top: 0;
        left: 0;
        right: auto;
        width: 471px;
        height: 556px;
        -webkit-transform: translateZ(-90px);
        transform: translateZ(-90px);
        transition-duration: .8s
    }
    .plan-standart {
        margin: 0 -70px
    }
    .plan-muted {
        -webkit-transform: translateZ(-180px);
        transform: translateZ(-180px)
    }
    .plan-name {
        font-size: 2.25em
    }
    .plan-times {
        font-size: 1.5em
    }
    .plan-desc {
        padding: 70px 0 68px;
        transition: all .6s ease;
        background-image: none
    }
    .plan-desc,
    .plan-desc>* {
        position: relative
    }
    .plan-desc:before {
        pointer-events: none;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../img/vector/xl/shape-bg-plan.svg);
        background-position: 50% 50%;
        background-size: cover;
        transition: all .8s ease;
        opacity: 0;
        -webkit-transform: scaleY(1.6);
        transform: scaleY(1.6)
    }
    .plan-time {
        font-size: 1.5em
    }
    .plan.plan-active {
        transition-duration: .4s
    }
    .plan.plan-active .plan-desc:before {
        transition-delay: .25s;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
    .logo-bottom {
        font-size: 1.625em;
        margin: 2em 0
    }
    .logo-mid {
        font-size: 1.8em
    }
    .logo-foot {
        font-size: 1.3em
    }
    .subheading {
        font-size: 1.5em
    }
}

@media (min-width:1920px) {
    .shape {
        z-index: 1
    }
    .footer,
    .section {
        position: relative
    }
    .footer .h3,
    .footer .subheading,
    .section .h3,
    .section .subheading {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -.75em;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    .footer .subheading,
    .section .subheading {
        left: 2.5em
    }
}