{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
  <div class="container">
<form class="form" {{ attributes }} novalidate enctype="multipart/form-data">
  <div class="form-top">
  {{ children }}
</form>
</div>
