{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
          <button data-drupal-selector="edit-submit" id="edit-submit" name="op" value="Сохранить" class="button" type="submit">
              <span class="button-text">Отправить</span>
              <span class="button-icon">
                <svg width="68" height="14.8">
                  <use xlink:href="#svg-arrow"> {{ children }}</use>
                </svg>
              </span>
          </button>
