{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

  <input value="{{ attributes.value }}" class="input" name="field_user_email[0][value]" type="email" required placeholder="Email"> {{ children }}
  </div>
