{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

	<input value="{{ attributes.value }}" class="input" name="field_reviewer_username[0][value]" type="text" required placeholder="Имя" />{{ children }}


