{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the textarea element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}

          <textarea class="input input-text" name="comment_body[0][value]" minlength="10" spellcheck="false" required placeholder="Ваш вопрос, отзыв или комментарий">{{ value }}</textarea>

