{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

  {% block content %}
  <section class="section section-coach light">
  <svg class="shape shape-top" viewBox="0 0 320 43">
    <path d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z"></path>
  </svg>
  <div class="container">
    <h3 class="h3">Преподаватель</h3>
    {{ content }}
     </div>
  <svg class="shape shape-bottom" viewBox="0 0 320 20">
    <g>
      <path d="M 0, 0 L 0, 20 L 150, 0 L 0, 0 Z"></path>
      <path d="M 150, 0 L 265, 20 L 320, 10 L 320, 0 L 150, 0 Z"></path>
    </g>
  </svg>
</section>
  {% endblock %}

