{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
  <section class="section section-coach light">
<svg class="shape shape-top" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 40 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
  <div class="container">
    <h3 class="h3">Преподаватель</h3>
    {{ content }}
     </div>
  <svg class="shape shape-bottom" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 40 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
</section>
  {% endblock %}
</div>
