section.hero.hero-about
    .container
        include ../components/socials
        .hero-content
            h3.logo.logo-top Play drums
            h2.h1 Кто мы
            .hero-desc Если ваше заветное желание — научиться играть на ударных инструментах, то самое время записаться на занятия в школу игры на барабанах.

section.section.section-about.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    .container
        .about
            h3.h3 Академия
            .subheading музыкальных наук
            .about-content
                p Одно из отличительных преимуществ наших уроков — современная и эффективная методика. Программа обучения игры на ударных инструментах включает комплекс практических занятий на барабанах и теорию. Пошаговый процесс построен таким образом, чтобы нагрузка увеличивалась постепенно — от одного урока к другому. Опытный преподаватель подробно рассказывает о приемах, демонстрирует технику исполнения, а ученики закрепляют полученные знания на практике. Благодаря чередованию теоретической информации и реального опыта удалось добиться высокой результативности обучения. Частные уроки игры на барабанах — отличный старт для начинающих. Даже без предварительной подготовки можно освоить ударные инструменты с нуля. Уроки проходят в уютной студии недалеко от центра Харькова под руководством молодого и талантливого преподавателя. Используется профессиональная ударная установка Yamaha Tour Custom и весь комплект дополнительного оборудования.
                p Одно из отличительных преимуществ наших уроков — современная и эффективная методика. Программа обучения игры на ударных инструментах включает комплекс практических занятий на барабанах и теорию. Пошаговый процесс построен таким образом, чтобы нагрузка увеличивалась постепенно — от одного урока к другому. Опытный преподаватель подробно рассказывает о приемах, демонстрирует технику исполнения, а ученики закрепляют полученные знания на практике. Благодаря чередованию теоретической информации и реального опыта удалось добиться высокой результативности обучения. Частные уроки игры на барабанах — отличный старт для начинающих. Даже без предварительной подготовки можно освоить ударные инструменты с нуля. Уроки проходят в уютной студии недалеко от центра Харькова под руководством молодого и талантливого преподавателя. Используется профессиональная ударная установка Yamaha Tour Custom и весь комплект дополнительного оборудования.
                ul.steps
                    li.step
                        .step-icon
                            img(src=require('../../img/about/step-01.svg'))
                        .step-index Шаг 1
                        .step-name Нотная грамота
                        .step-desc Если ваше заветное желание — научиться играть на ударных инструментах, то самое время записаться на занятия в школу игры на барабанах.
                    li.step
                        .step-icon
                            img(src=require('../../img/about/step-02.svg'))
                        .step-index Шаг 2
                        .step-name Основы
                        .step-desc Если ваше заветное желание — научиться играть на ударных инструментах, то самое время записаться на занятия в школу игры на барабанах.
                    li.step
                        .step-icon
                            img(src=require('../../img/about/step-03.svg'))
                        .step-index Шаг 3
                        .step-name Практика
                        .step-desc Если ваше заветное желание — научиться играть на ударных инструментах, то самое время записаться на занятия в школу игры на барабанах.
    .photos
        a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/01.jpg'))
            img(src=require('../../img/about/photos/prev-01.jpg'))
            .photo-content
                .photo-name Дабл-бит
                .photo-desc Для разминки
        a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/02.jpg'))
            img(src=require('../../img/about/photos/prev-02.jpg'))
            .photo-content
                .photo-name Сольник
                .photo-desc Живая классика
        a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/03.jpg'))
            img(src=require('../../img/about/photos/prev-03.jpg'))
            .photo-content
                .photo-name Постановка рук
                .photo-desc Чтобы все завидовали
        a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/04.jpg'))
            img(src=require('../../img/about/photos/prev-04.jpg'))
            .photo-content
                .photo-name Хэт и крэш
                .photo-desc Мощное сочетание
        a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/05.jpg'))
            img(src=require('../../img/about/photos/prev-05.jpg'))
            .photo-content
                .photo-name Финальный аккорд
                .photo-desc Твоя фирменная подпись
        a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/06.jpg'))
            img(src=require('../../img/about/photos/prev-06.jpg'))
            .photo-content
                .photo-name Райд-зона
                .photo-desc Для крутых триолей
    .container
        .btn-wrapper
            a.btn
                span.btn-text Больше фотографий на нашем Instagram-канале
                span.btn-icon
                    svg(width=68 height=35.5)
                        use(xlink:href="#svg-arrow")
    svg.shape.shape-bottom(viewBox="0 0 320 35")
        path(d="M 0, 0 L 0, 35 L 35, 0 L 0, 0 Z")
        path(d="M 35, 0 L 220, 29 L 320, 11 L 320, 0 L 0, 0 Z")


