section.hero.hero-contact
    .container
        include ../components/socials
        .hero-content
            h3.logo.logo-top Play drums
            h2.h1 Контакты

section.section.section-contact.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    .container
        .contact
            .contact-info
                include ../components/feedback
                #map.map
                    img(src=require('../../img/map.jpg'))
            .contact-form
                h2.h2 Есть вопросы? Напишите нам!
                include ../components/form
