section.hero
    .container
        include ../components/socials
        .hero-content
            h1.logo.logo-top Play drums
            .hero-desc Если ваше заветное желание — научиться играть на ударных инструментах, то самое время записаться на занятия в школу игры на барабанах.

section.section.section-paths.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    .container
        h3.h3 Классы
    ul.paths
        li.path
            a.path-link
                img(src=require('../../img/paths/guitar.jpg'))
                .path-name Гитары
        li.path
            a.path-link
                img(src=require('../../img/paths/drums.jpg'))
                .path-name Ударные
        li.path
            a.path-link
                img(src=require('../../img/paths/piano.jpg'))
                .path-name Клавишные
        li.path
            a.path-link
                img(src=require('../../img/paths/strings.jpg'))
                .path-name Струнные
        li.path
            a.path-link
                img(src=require('../../img/paths/vocals.jpg'))
                .path-name Вокал
        li.path
            a.path-link
                .path-schedule
                    img(src=require('../../img/vector/music-note.svg'))
                    .path-caption Смотреть расписание

    svg.shape.shape-bottom(viewBox="0 0 320 20")
        g
            path(d="M 0, 0 L 0, 20 L 150, 0 L 0, 0 Z")
            path(d="M 150, 0 L 265, 20 L 320, 10 L 320, 0 L 150, 0 Z")

section.section-reviews
    .container
        h3.h3 Отзывы
    .reviews-wrapper
        ul.reviews
            li.review
                .container
                    .ava(style="background-image: url("+require('../../img/ava.jpg')+")")
                        .ava-name Алексей
                    .review-text
                        p Aenean interdum tincidunt dolor ut porta. Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna.
            li.review
                .container
                    .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                        .ava-name Алексей
                    .review-text
                        p Aenean interdum tincidunt dolor ut porta. Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna.
            li.review
                .container
                    .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                        .ava-name Алексей
                    .review-text
                        p Aenean interdum tincidunt dolor ut porta. Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna.
    .container
        .dots.dots-reviews

section.section.section-plans.light
    svg.shape.shape-top(viewBox="0 0 320 40")
        path(d="M 0, 0 L 320, 40 L 0, 40 L 0, 0 Z")
    .container
        h3.h3 Абонементы
        .subheading или индивидуальный план
        ul.plans
            li.plan.plan-base(style="background-image: url("+require('../../img/xl/plan-base.jpg')+")")
                .plan-desc
                    .plan-name Базовый
                    .plan-times 1 раз в неделю
                .plan-time 60 мин / занятие
            li.plan.plan-standart.plan-active(style="background-image: url("+require('../../img/xl/plan-standart.jpg')+")")
                .plan-desc
                    .plan-name Стандартный
                    .plan-times 2 раза в неделю
                .plan-time 60 мин / занятие
            li.plan.plan-intense(style="background-image: url("+require('../../img/xl/plan-intense.jpg')+")")
                .plan-desc
                    .plan-name Интенсивный
                    .plan-times 3 раза в неделю
                .plan-time 60 мин / занятие
        .btn-wrapper
            a.btn
                span.btn-text посмотреть детали
                span.btn-icon
                    svg(width=68 height=35.5)
                        use(xlink:href="#svg-arrow")
    svg.shape.shape-bottom(viewBox="0 0 320 35")
        path(d="M 0, 0 L 0, 35 L 35, 0 L 0, 0 Z")
        path(d="M 35, 0 L 220, 29 L 320, 11 L 320, 0 L 0, 0 Z")

