section.hero.hero-media
    .container
        include ../components/socials
        .hero-content
            h3.logo.logo-top Play drums
            h2.h1 Медиа

section.section.section-media.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    .container
        section.content
            ul.news-list
                li.news
                    a.news-header
                        .news-date
                            .news-date-day 20
                            .news-date-mon Сен
                        img(src=require('../../img/drums.jpg'))
                    .news-preview
                        a.news-name Джои Джординсон использует запасную ногу для игры на двух бас-бочках
                        .news-spoiler
                            p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                                a.btn
                                    span.btn-text Читать далее
                                    span.btn-icon
                                        svg(width=68 height=35.5)
                                            use(xlink:href="#svg-arrow")
                li.news
                    a.news-header
                        .news-date
                            .news-date-day 20
                            .news-date-mon Сен
                        img(src=require('../../img/drums.jpg'))
                    .news-preview
                        a.news-name Джои Джординсон использует запасную ногу для игры на двух бас-бочках
                        .news-spoiler
                            p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                                a.btn
                                    span.btn-text Читать далее
                                    span.btn-icon
                                        svg(width=68 height=35.5)
                                            use(xlink:href="#svg-arrow")
                li.news
                    .news-preview
                        a.news-name Джои Джординсон использует запасную ногу для игры на двух бас-бочках
                        .news-spoiler
                            p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                                a.btn
                                    span.btn-text Читать далее
                                    span.btn-icon
                                        svg(width=68 height=35.5)
                                            use(xlink:href="#svg-arrow")
            include ../components/pager
        aside.widgets
            h3.widget-heading Мы в соц сетях
            p Тут виджеты и все что захотите
    svg.shape.shape-bottom(viewBox="0 0 320 35")
        path(d="M 0, 0 L 0, 35 L 35, 0 L 0, 0 Z")
        path(d="M 35, 0 L 220, 29 L 320, 11 L 320, 0 L 0, 0 Z")


