section.hero.hero-media
    .container
        include ../components/socials
        .hero-content
            h3.logo.logo-top Play drums
            h2.h1 Медиа

section.section.section-media.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    .container
        section.content
            article.news.news-full
                h1 Джои Джординсон использует запасную ногу для игры на двух бас-бочках
                img(src=require('../../img/funny.jpg'))
                include ../components/demo-text.html
                p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                img(src=require('../../img/drums.jpg'))
                p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                blockquote Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                ul
                    li Быстрый отклик с чистым и прорезающим звучанием
                    li Быстрый отклик с чистым и прорезающим звучанием
                    li Быстрый отклик с чистым и прорезающим звучанием

                p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                ol
                    li Быстрый отклик с чистым и прорезающим звучанием
                    li Быстрый отклик с чистым и прорезающим звучанием
                    li Быстрый отклик с чистым и прорезающим звучанием
                p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                img(src=require('../../img/about/photos/01.jpg'))
                p Джои Джординсон использует запасную ногу для игры на двух бас-бочках. Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью.
                include ../components/demo-text.html
        aside.widgets
            h3.widget-heading Мы в соц сетях
            p Тут виджеты и все что захотите
    svg.shape.shape-bottom(viewBox="0 0 320 35")
        path(d="M 0, 0 L 0, 35 L 35, 0 L 0, 0 Z")
        path(d="M 35, 0 L 220, 29 L 320, 11 L 320, 0 L 0, 0 Z")


