section.hero.hero-shop
    .container
        include ../components/socials
        .hero-content
            h3.logo.logo-top Play drums
            h2.h1 Магазин

section.section.section-shop.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    .container
        include ../components/breadcrumbs

        .product
            .product-header
                h1.product-name Барабанные палочки
                .product-model Vater GW2BN
            .product-gallery
                .gallery
                    a.gallery-item(data-fancybox-group="product" href='img/product/plate.png')
                        img(src=require('../../img/product/plate.png'))
                    a.gallery-item(data-fancybox-group="product" href='img/product/sabian.png')
                        img(src=require('../../img/product/sabian.png'))
                .gallery-dots
            .product-credits
                .product-props Диаметр: 14". Серия: АА. Отделка: Natural. Характер звучания: яркий. Высота звучания: высокая. Материал изготовления (металл): бронза B20. Толщина: тонкий.
                .price 234 USD
                a.button(href="tel:+38(066)158-89-80") заказать по телефону
            .product-desc Быстрый отклик с чистым и прорезающим звучанием, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки серии AA чрезмерно насыщены энергией и полнозвучностью. Принимая форму и, словно питая энергию от молекулярного давления под более чем 75-ти тонным гидравлическим прессом, тарелки этой столь разносторонней серии рождают яркое, глубокое звучание, подходящее для любого музыкального стиля. Классический звук из 50-ых, 60-ых, 70-ых - это все о серии АА - ее энергичный яркий звук очень многообразен. Тональный диапазон тарелок варьируется от среднего до высокого.

        h4.h4 Возможно вас заинтересуют
        ul.shop
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/sticks.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/plate.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/plates.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
    svg.shape.shape-bottom(viewBox="0 0 320 35")
        path(d="M 0, 0 L 0, 35 L 35, 0 L 0, 0 Z")
        path(d="M 35, 0 L 220, 29 L 320, 11 L 320, 0 L 0, 0 Z")


