section.hero.hero-shop
    .container
        include ../components/socials
        .hero-content
            h2.logo.logo-top Play drums
            h1.h1 Магазин
            .hero-desc Если ваше заветное желание — научиться играть на ударных инструментах, то самое время записаться на занятия в школу игры на барабанах.

section.section.section-shop.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    .container
        h3.h3 Инструменты
        .subheading чем играть будем?
        form.filter
            include ../components/pager
            include ../components/sorting
        ul.shop
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/sticks.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/plate.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/plates.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/sticks.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/plate.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/plates.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/sticks.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/plate.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
            li.shop-item
                .shop-item-inner
                    figure.shop-item-pic
                        img(src=require('../../img/shop/plates.png'))
                    .shop-item-name Барабанные палочки Vater GW2BN
                    .price 235 USD
                    a.button
                        span.button-text Детальнее
                        span.button-icon
                            svg(width=68 height=14.8)
                                use(xlink:href="#svg-arrow")
        form.filter
            include ../components/pager
    svg.shape.shape-bottom(viewBox="0 0 320 35")
        path(d="M 0, 0 L 0, 35 L 35, 0 L 0, 0 Z")
        path(d="M 35, 0 L 220, 29 L 320, 11 L 320, 0 L 0, 0 Z")


