section.hero.hero-teachers
    .container
        include ../components/socials
        .hero-content
            h2.logo.logo-top Play drums
            h1.h1 Преподаватели
            .hero-desc Если ваше заветное желание — научиться играть на ударных инструментах, то самое время записаться на занятия в школу игры на барабанах.

section.section.section-coach.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    ul.testim.teachers
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Фортепиано
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    .btn-wrapper
                        a.btn
                            span.btn-text посмотреть детали
                            span.btn-icon
                                svg(width=68 height=35.5)
                                    use(xlink:href="#svg-arrow")
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Бас-балалайка
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    .btn-wrapper
                        a.btn
                            span.btn-text посмотреть детали
                            span.btn-icon
                                svg(width=68 height=35.5)
                                    use(xlink:href="#svg-arrow")
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Ударные
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    .btn-wrapper
                        a.btn
                            span.btn-text посмотреть детали
                            span.btn-icon
                                svg(width=68 height=35.5)
                                    use(xlink:href="#svg-arrow")
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Аккордеон
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    .btn-wrapper
                        a.btn
                            span.btn-text посмотреть детали
                            span.btn-icon
                                svg(width=68 height=35.5)
                                    use(xlink:href="#svg-arrow")
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Баян
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    .btn-wrapper
                        a.btn
                            span.btn-text посмотреть детали
                            span.btn-icon
                                svg(width=68 height=35.5)
                                    use(xlink:href="#svg-arrow")
    svg.shape.shape-bottom(viewBox="0 0 320 35")
        path(d="M 0, 0 L 0, 35 L 35, 0 L 0, 0 Z")
        path(d="M 35, 0 L 220, 29 L 320, 11 L 320, 0 L 0, 0 Z")

