section.hero.hero-teacher(style="background-image: url("+ require('../../img/funny.jpg') +")")
    .container
        include ../components/socials
        .hero-content
            h3.logo.logo-top Play drums
            h2.h1 Ударные
            .hero-desc Если ваше заветное желание — научиться играть на ударных инструментах, то самое время записаться на занятия в школу игры на барабанах.

section.section.section-coach.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    .container
        .coach
            .coach-content
                h1.h2 Виталий Инюточкин
                .coach-desc Выпускник Харьковской консерватории по классу «ударные инструменты» и ученик известного в музыкальных кругах преподавателя — Вадима Шапранова.
                .coach-section
                    ul.coach-list
                        li.coach-item
                            .coach-icon
                                img(src=require('../../img/vector/calendar.svg'))
                            .coach-text
                                p Опыт игры на барабанах — 10 лет.
                                p Проводит уроки с 2013 года.
                        li.coach-item
                            .coach-icon
                                img(src=require('../../img/vector/badge.svg'))
                            .coach-text
                                p Лауреат международных конкурсов, бывший участник харьковского шоу-проекта «Melodrum Show» и  группы «сТО Кривоструй».
                        li.coach-item
                            .coach-icon
                                img(src=require('../../img/vector/band.svg'))
                            .coach-text
                                p Сейчас он играет на ударных в молодежном коллективе «Pringlez» (pop-rock). Группа стала бронзовым призером на международном конкурсе «НОВАЯ ВОЛНА 2015, финалистом всеукраинского отбора «EUROVISION 2016», победителем «Pepsi stars of now», «New cover fm» и других престижных конкурсов.
                    table.coach-contacts
                        tbody
                            tr
                                td
                                    a(href="//facebook.com")
                                        svg(width=14 height=29)
                                            use(xlink:href="#svg-facebook")
                                td
                                    a(href="//facebook.com") facebook.com/vova_vor
                            tr
                                td
                                    a(href="//instagram.com")
                                        svg(width=29 height=29)
                                            use(xlink:href="#svg-instagram")
                                td
                                    a(href="//instagram.com") instagram.com/vova_vor
                            tr
                                td
                                    a(href="whatsapp://send?phone=+380661588980")
                                        svg(width=16 height=16)
                                            use(xlink:href="#svg-whatsapp")
                                    a(href="viber://chat?number=+380661588980")
                                        svg(width=16 height=16)
                                            use(xlink:href="#svg-viber")
                                    a(href="tg://resolve?domain=Inutochkin")
                                        svg(width=16 height=16)
                                            use(xlink:href="#svg-telegram")
                                td
                                    a(href="tel:+380661588980") +38 (066) 1588980
            .coach-ava
                img(src=require('../../img/teacher.jpg'))
    .photos-coaches
        .photos
            a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/01.jpg'))
                img(src=require('../../img/about/photos/prev-01.jpg'))
                .photo-content
                    .photo-name Виталий Инюточкин
                    .photo-desc Ударные
            a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/02.jpg'))
                img(src=require('../../img/about/photos/prev-02.jpg'))
                .photo-content
                    .photo-name Виталий Инюточкин
                    .photo-desc Ударные
            a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/03.jpg'))
                img(src=require('../../img/about/photos/prev-03.jpg'))
                .photo-content
                    .photo-name Виталий Инюточкин
                    .photo-desc Ударные
            a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/04.jpg'))
                img(src=require('../../img/about/photos/prev-04.jpg'))
                .photo-content
                    .photo-name Виталий Инюточкин
                    .photo-desc Ударные
            a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/05.jpg'))
                img(src=require('../../img/about/photos/prev-05.jpg'))
                .photo-content
                    .photo-name Виталий Инюточкин
                    .photo-desc Ударные
            a.photo(data-fancybox-group="photos" href=require('../../img/about/photos/06.jpg'))
                img(src=require('../../img/about/photos/prev-06.jpg'))
                .photo-content
                    .photo-name Виталий Инюточкин
                    .photo-desc Ударные
        .photos-arrows
            button.slick-arrow.slick-prev(type="button")
                svg(width=68 height=14.8)
                    use(xlink:href="#svg-arrow-back")
            button.slick-arrow.slick-next(type="button")
                svg(width=68 height=14.8)
                    use(xlink:href="#svg-arrow")
    .container
        .link-centered
            a.btn
                span.btn-text Посмотреть всех
                span.button-icon
                    svg(width=68 height=14.8)
                        use(xlink:href="#svg-arrow")
    svg.shape.shape-bottom(viewBox="0 0 320 20")
        g
            path(d="M 0, 0 L 0, 20 L 150, 0 L 0, 0 Z")
            path(d="M 150, 0 L 265, 20 L 320, 10 L 320, 0 L 150, 0 Z")

