section.hero.hero-testim
    .container
        include ../components/socials
        .hero-content
            h3.logo.logo-top Play drums
            h2.h1 Отзывы

section.section.section-testim.light
    svg.shape.shape-top(viewBox="0 0 320 43")
        path(d="M 0, 0 L 270, 20 L 320, 43 L 0, 43 L 0, 0 Z")
    ul.testim
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Aenean interdum tincidunt dolor ut porta.
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    p Aenean interdum tincidunt dolor ut porta. Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Aenean interdum tincidunt dolor ut porta.
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    p Aenean interdum tincidunt dolor ut porta. Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Aenean interdum tincidunt dolor ut porta.
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    p Aenean interdum tincidunt dolor ut porta. Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
        li.review
            .container
                .ava(style="background-image: url(" + require('../../img/ava.jpg') + ")")
                    .ava-name Алексей
                .review-text
                    .review-caption Aenean interdum tincidunt dolor ut porta.
                    p Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
                    p Aenean interdum tincidunt dolor ut porta. Vestibulum ultrices rhoncus purus sed bibendum. In egestas imperdiet mauris non fermentum. Vestibulum laoreet sed nibh sed ultricies. Phasellus et urna urna. Suspendisse eleifend congue est laoreet bibendum. In dapibus pharetra felis a scelerisque. In quis mattis ante, at hendrerit arcu. Proin egestas nec risus imperdiet porta. Etiam finibus interdum justo at aliquam. Suspendisse efficitur neque odio, sed viverra massa fermentum non. Cras vehicula urna non rutrum ullamcorper.
    .container
        include ../components/pager
        .testim-form
            h2.h2 Оставить отзыв
            include ../components/form-testimonials
    svg.shape.shape-bottom(viewBox="0 0 320 35")
        path(d="M 0, 0 L 0, 35 L 35, 0 L 0, 0 Z")
        path(d="M 35, 0 L 220, 29 L 320, 11 L 320, 0 L 0, 0 Z")


