<p>Джои Джординсон использует <a href="//facebook.com">запасную ногу</a> для игры на двух бас-бочках. Быстрый отклик с <em>чистым и прорезающим звучанием</em>, для быстрых акцентов и эффектов. Идеально подходит к любому музыкальному стилю. Тарелки <strong>серии AA</strong> чрезмерно насыщены энергией и полнозвучностью.</p>
