.footer-info
    .vectors
        svg(width=13 height=19)
            use(xlink:href="#svg-placemark")
    address.address
        div Харьков,
        div Пер. Райсоветский 1
    .messengers
        .vectors
            a(href="whatsapp://send?phone=+380661588980")
                svg(width=16 height=16)
                    use(xlink:href="#svg-whatsapp")
            a(href="viber://chat?number=+380661588980")
                svg(width=16 height=16)
                    use(xlink:href="#svg-viber")
            a(href="tg://resolve?domain=Inutochkin")
                svg(width=16 height=16)
                    use(xlink:href="#svg-telegram")
        include ../components/phone
    include ../components/socials