form.form(novalidate enctype="multipart/form-data")
    .form-top
        .row
            input.input(name="user_name" type="text" required placeholder="Имя")
        .row
            input.input(name="user_email" type="email" required placeholder="Email")
    .row
        textarea.input.input-text(name="user_message" minlength=10 spellcheck="false" required placeholder="Ваш вопрос, отзыв или комментарий")
    .row
        input(required type="file" id="user_file" name="user_file" accept="image/jpeg,image/png,image/gif" hidden)
        label.label.label-file(for="user_file")
            .label-intro
                .label-caption Загрузить фото
                .label-note В форматах .jpg, .png, .gif
            .label-photo
            include ./loader
    .row
        button.button(type="submit")
            span.button-text Отправить
            span.button-icon
                svg(width=68 height=14.8)
                    use(xlink:href="#svg-arrow")
