form.form(novalidate)
    .form-top
        .row
            input.input(name="user_name" type="text" required placeholder="Имя")
        .row
            input.input(name="user_email" type="email" required placeholder="Email")
    .row
        textarea.input.input-text(name="user_message" minlength=10 spellcheck="false" required placeholder="Ваш вопрос, отзыв или комментарий")
    .row
        button.button(type="submit")
            span.button-text Отправить
            span.button-icon
                svg(width=68 height=14.8)
                    use(xlink:href="#svg-arrow")
