.pager
    a.pager-link.pager-prev
        span.button-icon
            svg(width=68 height=14.8)
                use(xlink:href="#svg-arrow-back")
    a.pager-link 1
    a.pager-link.active 2
    a.pager-link 3
    a.pager-link 4
    a.pager-link 5
    a.pager-link.pager-next
        span.button-icon
            svg(width=68 height=14.8)
                use(xlink:href="#svg-arrow")
