ul.socials
    li
        a(href="//facebook.com")
            svg(width=14 height=29)
                use(xlink:href="#svg-facebook")
    li
        a(href="//twitter.com")
            svg(width=29 height=23)
                use(xlink:href="#svg-twitter")
    li
        a(href="//instagram.com")
            svg(width=29 height=29)
                use(xlink:href="#svg-instagram")
    li
        a(href="//youtube.com")
            svg(width=29 height=23)
                use(xlink:href="#svg-youtube")