<section class="hero hero-contact">
      <div class="container">

         {{ drupal_entity('node' , 55 , 'teaser' ) }}
      </div>
</section>
<section class="section section-contact light">
  <svg class="shape shape-top" viewBox="0 0 320 40">
    <path d="M 0, 0 L 0, 40 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path>
  </svg>

    {{ page.content }}

</section>
<footer class="footer">
    <div class="copyright container">
        <div class="copyright-content">&copy; copyright by playdrumlessons</div>
    </div>
</footer>