{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

  <input class="input" name="field_fbform_user_mail[0][value]" type="email" required placeholder="Email"> {{ children }}
</div>
