{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the textarea element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}
<div class="row">
          <textarea class="input input-text" name="field_fbform_user_feedback[0][value]" minlength="10" spellcheck="false" required placeholder="Ваш вопрос, отзыв или комментарий"></textarea>
        </div>
