{% set date = node.createdtime|date('d') %}
{% set datemonth = node.createdtime|date('M') %}
<li class="news"><div class="news-header" style="background-image: url({{ content.field_image}});">
        <div class="news-date">
            <div class="news-date-day">{{ date }}</div>
            <div class="news-date-mon">{{ datemonth }}</div>
        </div>
       <!--{{ content.field_image }}-->
    </div>
    <div class="news-preview"><a href="{{ url }}" class="news-name">{{ label }}</a>
        <div class="news-spoiler">
            <p>{{ node.body.summary }}
            <a href="{{ url }}" class="btn"><span class="btn-text">Читать далее</span><span class="btn-icon">
                    <svg width="68" height="35.5">
                        <use xlink:href="#svg-arrow"></use>
                    </svg></span></a>
            </p>
        </div>
    </div>
</li>