<style>
    ul.links {
        display: none;
    }
</style>
<article class="news news-full">
    <h1>{{ label }}</h1>
   <img src="{{ content.field_image | field_value }}" alt=""/> 
    {{ content|without('field_image') }}
</article>