<section class="hero hero-media">
  <div class="container">

    <div class="hero-content">
      <h2 class="logo logo-top"></h2>
      <h1 class="h1">Медиа</h1>
    </div>
  </div>
</section>


<section class="section section-media light">
<svg class="shape shape-top" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
  <div class="container">
    <section class="content">
      {{ page.content }}
    </section>
    <aside class="widgets">
      <h3 class="widget-heading">Мы в соц сетях</h3>
      {{ page.sidebar }}
    </aside>
  </div>
<svg class="shape shape-bottom" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg></section>

{{ page.footer }}