<section class="hero hero-shop">
      <div class="container">

         {{ drupal_entity('node' , 46 , 'teaser' ) }}
      </div>
    </section>
    <section class="section section-shop light">
<svg class="shape shape-top" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
  <div class="container">
  {{ page.content }}
</div>
<svg class="shape shape-bottom" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
</section>
{{ page.footer }}