<div class="container">
    <div class="coach">
        <div class="coach-content">
            <h1 class="h2">{{ label }}</h1>
            <div class="coach-desc">{{  content.field_coach_desc }}</div>

            <div class="coach-section">
                <ul class="coach-list">
                    {% if content.field_coach_calendar|field_value %}
                    <li class="coach-item">
                        <div class="coach-icon"><img src="{{ base_path ~ directory }}/frontend/dist/img/vector/calendar.svg"></div>
                        <div class="coach-text">
                            {{ content.field_coach_calendar }}
                        </div>
                    </li>
                    {% endif %}
                    {% if content.field_coach_budge|field_value %}
                    <li class="coach-item">
                        <div class="coach-icon"><img src="{{ base_path ~ directory }}/frontend/dist/img/vector/badge.svg"></div>
                        <div class="coach-text">
                            {{ content.field_coach_budge }}
                        </div>
                    </li>
                    {% endif %}
                    {% if content.field_coach_band|field_value %}
                    <li class="coach-item">
                        <div class="coach-icon"><img src="{{ base_path ~ directory }}//frontend/dist/img/vector/band.svg"></div>
                        <div class="coach-text">
                            {{ content.field_coach_band }}
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <table class="coach-contacts">
                    <tbody>
                    {% if content.field_facebook|field_value %}
                    <tr>
                        <td><a target="_blank" href="{{ content.field_facebook|field_value }}">
                                <svg width="14" height="29">
                                    <use xlink:href="#svg-facebook"></use>
                                </svg></a></td>
                        <td><a target="_blank" href="{{ content.field_facebook|field_value }}">{{ content.field_facebook|field_value }}</a></td>
                    </tr>
                    {% endif %}
                    {% if content.field_instagram|field_value %}
                    <tr>
                        <td><a target="_blank" href="{{ content.field_instagram|field_value }}">
                                <svg width="29" height="29">
                                    <use xlink:href="#svg-instagram"></use>
                                </svg></a></td>
                        <td><a target="_blank" href="{{ content.field_instagram|field_value }}">{{ content.field_instagram|field_value }}</a></td>
                    </tr>
                    {% endif %}
                    {% if content.field_phone|field_value %}
                    <tr>
                        <td><a href="whatsapp://send?phone={{ content.field_phone|field_value }}">
                                <svg width="16" height="16">
                                    <use xlink:href="#svg-whatsapp"></use>
                                </svg></a><a href="viber://chat?number={{ content.field_phone|field_value }}">
                                <svg width="16" height="16">
                                    <use xlink:href="#svg-viber"></use>
                                </svg></a><a href="tg://resolve?domain=Inutochkin">
                                <svg width="16" height="16">
                                    <use xlink:href="#svg-telegram"></use>
                                </svg></a></td>
                        <td><a href="tel:{{ content.field_phone|field_value }}">{{ content.field_phone|field_value }}</a></td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if node.field_foto.entity.fileuri %}
        <div class="coach-ava"><img src="{{ file_url(node.field_foto.entity.fileuri) }}"></div>
        {% endif %}
    </div>
</div>
<div class="container">
    <div class="about">
        {{ content.field_coach_full_desc }}
    </div>
</div>
{% if content.field_gallery|render %}
<div class="photos-coaches">
    <div class="photos">
        {{ content.field_gallery }}
    </div>
    <div class="photos-arrows">
        <button class="slick-arrow slick-prev" type="button">
            <svg width="68" height="14.8">
                <use xlink:href="#svg-arrow-back"></use>
            </svg>
        </button>
        <button class="slick-arrow slick-next" type="button">
            <svg width="68" height="14.8">
                <use xlink:href="#svg-arrow"></use>
            </svg>
        </button>
    </div>
</div>
<div class="container">
    <div class="link-centered"><a href="{{ url('view.otobrazenie_prepodavatel.page_1') }}" class="btn">
            <span class="btn-text">Посмотреть всех</span>
            <span class="btn-icon">
                <svg width="68" height="14.8">
                    <use xlink:href="#svg-arrow"></use>
                </svg>
            </span>
        </a>
    </div>
</div>
{%  endif %}
