
<div class="review">
 <svg class="shape shape-top" viewBox="0 0 320 40"><path d="M 0, 0 L 0, 39 L 50, 23 L 273, 23 L 320, 8 L 320 40 L 0, 40 Z"></path></svg>
               <div class="container">
                  <div class="ava" style="background-image: url({{ content.field_foto[0] }});">
                  	<div class="ava-name">{{ label }}</div>
                  </div>
                  <div class="review-text">
                     <div class="review-info">
                        {{ content.field_napravlenie|field_value }}</div>
                     <p> {{ content.field_coach_desc }}</p>
                      <ul class="coach-list">
                        {% if content.field_coach_calendar|field_value %}
                    <li class="coach-item">
                        <div class="coach-icon"><img src="{{ base_path ~ directory }}/frontend/dist/img/vector/diploma.svg"></div>
                        <div class="coach-text">
                            {{ content.field_coach_calendar }}
                        </div>
                    </li>
                    {% endif %}
                    {% if content.field_coach_budge|field_value %}
                    <li class="coach-item">
                        <div class="coach-icon"><img src="{{ base_path ~ directory }}/frontend/dist/img/vector/badge.svg"></div>
                        <div class="coach-text">
                            {{ content.field_coach_budge }}
                        </div>
                    </li>
                    {% endif %}
                    {% if content.field_coach_band|field_value %}
                    <li class="coach-item">
                        <div class="coach-icon"><img src="{{ base_path ~ directory }}//frontend/dist/img/vector/band.svg"></div>
                        <div class="coach-text">
                            {{ content.field_coach_band }}
                        </div>
                    </li>
                    {% endif %}
                      </ul>

                  </div>
               </div>
            </div>